/*
2.8  4.5  7.3  11.8  19.1  30.1  50  80.9  130.9  211.8  342.7
div#header
div#top-nav
ul.sidebar-left
*/
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  height:100%;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

/***************************************************
                       HEADER
****************************************************/
header {
  height: 80.9px;
  background-color: #0064bb;
}




#main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

/*****************************************************
                  FOOTER
*****************************************************/

#footer-grave {
  height: 100px; /* WILL IMPACT THE #footer POSITION */
}

#footer {
  position: relative;
  margin-top: -100px; /* MUST BE EQUAL TO #footer-grave's height */
  height: 100px;
  background:#646464;
}






ul.lang {
  margin: 0;
  padding: 50px 19px 0 0;
  color: white;
  letter-spacing: .1em;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
#logo {
  float: left;
  display:block;
  height: 73px;
  width: 73px;
  overflow: hidden;
  padding:10px;
}
.lang a {
  color: #00306a; /* @gs-dk-blue */
}
.lang a:hover,
.lang a:focus,
.lang a:active {
  color: #479fed;
}
a.default-lang {
  color: #479fed;
}


/**********************************************
                    TOP NAV
***********************************************/
#top-nav ul,
td#top-nav ul:not(i)  {
  margin: 0;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #a0a0a0;
}
#top-nav .univers-name {
  font-weight: 500;
}

#signout,
#toggle-side-menu {
  -webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
  -moz-transition: all 0.5s ease;/* Firefox 4-15 */
  -o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
  transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
}

#signout:hover,
#signout:focus,
#signout:active,
#signout.active,
#toggle-side-menu:hover,
#toggle-side-menu:focus,
#toggle-side-menu:active,
#toggle-side-menu.active {
  color: #505050;
}

/**********************************************
                    BREADCRUMP
**********************************************/
#breadcrumb{
  display: table-cell;
  line-height: 31px;
}
#breadcrumb li {
  margin: 0;
}
#breadcrumb li:after {
  content: '\00a0/';
}
#breadcrumb li:last-child:after {
  content: '';
}

/**********************************************
                    SIDEBAR LEFT      #sidenav
***********************************************/
/* ul */
.sidebar-left {
  margin: 0;
  padding: 0;
}

.sidebar-left ul {
  padding: 0;
}

.sidebar-left li {
  margin-bottom: 1px;
  padding: 15px 0 15px 21px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 14px;
  color: #FFF;
  background-color: #378fdd;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1em;
  /* transition */
  -webkit-transition: all 0.4s ease;/* Safari 3.2+, Chrome */
  -moz-transition: all 0.4s ease;/* Firefox 4-15 */
  -o-transition: all 0.4s ease;/* Opera 10.5-12.00 */
  transition: all 0.4s ease;/* Firefox 16+, Opera 12.50+ */
}

li.sidebar-h-0:hover,
li.sidebar-h-0:focus,
li.sidebar-h-0:active,
li.sidebar-h-0.active {
  background-color: #0064bb;
}
li.sidebar-h-1:hover,
li.sidebar-h-1:focus,
li.sidebar-h-1:active,
li.sidebar-h-1.active {
  background-color: #0700c5;
}
li.sidebar-h-2:hover,
li.sidebar-h-2:focus,
li.sidebar-h-2:active,
li.sidebar-h-2.active {
  background-color: #3003A1;
}
li.sidebar-h-3:hover,
li.sidebar-h-3:focus,
li.sidebar-h-3:active,
li.sidebar-h-3.active {
  background-color: #8806B8;
}
li.sidebar-h-4:hover,
li.sidebar-h-4:focus,
li.sidebar-h-4:active,
li.sidebar-h-4.active {
  background-color: #AE0179;
}

li.sidebar-h-5:hover,
li.sidebar-h-5:focus,
li.sidebar-h-5:active,
li.sidebar-h-5.active {
  background-color: #0064bb;
}

/* LOGIN */

input[type="text"],
input[type="password"] {
  font-weight: 300;
  font-size: 14px;
  height: 50px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06) inset, 0px 0px 8px rgba(102, 175, 233, 0.45);
}


.ColVis{
  display: none;
}

/**********************************************
                    LOADER
***********************************************/
#loader {
  display: none;
  position: fixed;
  z-index: 999;
  /* overflow: show; */
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#loader p{
  position: fixed;
  z-index: 1000;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/*********************************************
                    CONTENT
*********************************************/
#contentTable {
  overflow: hidden;
}


/*********************************************
                    MISC
**********************************************/

i.fa, li {
  cursor: pointer;
}


.fa,
.glyphicon {
  font-size: 18px !important;
}

.center {
  text-align: center !important;
}


/*
2.8  4.5  7.3  11.8  19.1  30.1  50  80.9  130.9  211.8  342.7
*/


/****************************************************
                    DATEPICKER
****************************************************/
#datepicker {
  display: table;

}

#datepicker input {
  display: table-cell;
  max-width: 130px;
  text-align: center;
}
.dp-to {
  box-shadow: 0;
  height: 50px;
  display: table-cell;
  margin: 0;
  padding: 14px 11px 14px 11px;
  cursor: none;
  font-size: 14px;
  background-color: #f2f2f2;
  color: #888;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.input-daterange input:first-child {
  border-radius: 0;
}

.input-daterange input:last-child {
  border-radius: 0;
}


