/*
2.8  4.5  7.3  11.8  19.1  30.1  50  80.9  130.9  211.8  342.7
div#header
div#top-nav
ul.sidebar-left
*/
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

/***************************************************
                       HEADER
****************************************************/
header {
  height: 80.9px;
  background-color: #0064bb;
}
ul.lang {
  margin: 0;
  padding: 50px 19px 0 0;
  color: white;
  letter-spacing: .1em;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
#logo {
  float: left;
  display:block;
  height: 73px;
  width: 73px;
  overflow: hidden;
  padding:10px;
}
.login-lang > a {
  color: rgba(255,255,255,.4);
}
.login-lang > a:hover,
.login-lang > a:focus,
.login-lang > a:active,
.login-lang > a.active,
.default-lang > a {
  color: rgba(255,255,255,.8);
}

/* login form */
.default-lang {
  color: #0700c5;
  text-decoration: underline;
}

/**********************************************
                    TOP NAV
***********************************************/
#top-nav ul,
td#top-nav ul:not(i)  {
  margin: 0;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #a0a0a0;
}
#top-nav .univers-name {
  font-weight: 500;
}

#signout,
#toggle-side-menu {
  -webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
     -moz-transition: all 0.5s ease;/* Firefox 4-15 */
       -o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
          transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
}

#signout:hover,
#signout:focus,
#signout:active,
#signout.active,
#toggle-side-menu:hover,
#toggle-side-menu:focus,
#toggle-side-menu:active,
#toggle-side-menu.active {
  color: #505050;
}

/**********************************************
                    BREADCRUMP
**********************************************/
#breadcrumb{
  display: table-cell;
  line-height: 31px;
}
#breadcrumb li {
  margin: 0;
}
#breadcrumb li:after {
  content: '\00a0/';
}
#breadcrumb li:last-child:after {
  content: '';
}

/**********************************************
                    SIDEBAR LEFT      #sidenav
***********************************************/
/* ul */
.sidebar-left {
  margin: 0;
  padding: 0;
}

.sidebar-left ul {
  padding: 0;
}

.sidebar-left li {
  margin-bottom: 1px;
  padding: 15px 0 15px 21px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 14px;
  color: #FFF;
  background-color: #378fdd;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1em;
  /* transition */
  -webkit-transition: all 0.4s ease;/* Safari 3.2+, Chrome */
     -moz-transition: all 0.4s ease;/* Firefox 4-15 */
       -o-transition: all 0.4s ease;/* Opera 10.5-12.00 */
          transition: all 0.4s ease;/* Firefox 16+, Opera 12.50+ */
}

li.sidebar-h-0:hover,
li.sidebar-h-0:focus,
li.sidebar-h-0:active,
li.sidebar-h-0.active {
  background-color: #0064bb;
}
li.sidebar-h-1:hover,
li.sidebar-h-1:focus,
li.sidebar-h-1:active,
li.sidebar-h-1.active {
  background-color: #0700c5;
}
li.sidebar-h-2:hover,
li.sidebar-h-2:focus,
li.sidebar-h-2:active,
li.sidebar-h-2.active {
  background-color: #3003A1;
}
li.sidebar-h-3:hover,
li.sidebar-h-3:focus,
li.sidebar-h-3:active,
li.sidebar-h-3.active {
  background-color: #8806B8;
}
li.sidebar-h-4:hover,
li.sidebar-h-4:focus,
li.sidebar-h-4:active,
li.sidebar-h-4.active {
  background-color: #AE0179;
}

li.sidebar-h-5:hover,
li.sidebar-h-5:focus,
li.sidebar-h-5:active,
li.sidebar-h-5.active {
  background-color: #0064bb;
}

/**********************************************
                    SIDE MENU       #side-menu
***********************************************/

/* position for sliding effect */
#side-menu {
  position: absolute;
  background-color: #0064bb;
  color: white;
}
#main {
  position: relative;
  width: 100%;
}

/* style */
.side-menu-head,
.side-menu-head-icon {
  height: 50px;
  line-height: 50px;
  margin: 0px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #378fdd;
  color: #ABD3E1;
}
.side-menu-head-icon {
  cursor: pointer;
  color: white;
    /* transition */
  -webkit-transition: all 0.4s ease;/* Safari 3.2+, Chrome */
     -moz-transition: all 0.4s ease;/* Firefox 4-15 */
       -o-transition: all 0.4s ease;/* Opera 10.5-12.00 */
          transition: all 0.4s ease;/* Firefox 16+, Opera 12.50+ */
}
.side-menu-head-icon i {
  opacity: .6;
}
.side-menu-head-icon:hover i,
.side-menu-head-icon:focus i,
.side-menu-head-icon:active i,
.side-menu-head-icon.active i {
  opacity: 1;
}

.side-menu-list {
  margin: 1px 0 0 0;
  padding: 0;
}
.side-menu-list > li.active:before {
  font-size: 14px;
  font-family: 'FontAwesome';
  content: "\f00c";
}
.side-menu-list > li {
  height: 50px;
  margin-bottom: 1px;
  padding: 15px 0px 15px 30px;
  /* add ... on resize instead of break line */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #FFF;
  background-color: #0064bb;
  cursor: pointer;
  
  /* transition */
  -webkit-transition: all 0.4s ease;/* Safari 3.2+, Chrome */
     -moz-transition: all 0.4s ease;/* Firefox 4-15 */
       -o-transition: all 0.4s ease;/* Opera 10.5-12.00 */
          transition: all 0.4s ease;/* Firefox 16+, Opera 12.50+ */
}
.side-menu-list > li:hover,
.side-menu-list > li:focus,
.side-menu-list > li:active {
  background-color: #2e8ac1;
}
.side-menu-list > li.active {
  background-color: #378fdd;
}

#init-conf {
  opacity: .7;
}
#init-conf:hover,
#init-conf:focus,
#init-conf:active,
#init-conf.active {
  background-color: #378fdd;
      border-color: #378fdd;
  opacity: 1;
}

/**********************************************
                    COLORS
***********************************************/
.bg-green     { background-color: #02b158; }
.bg-darkgreen { background-color: #249067; }
.bg-gs-clear  { background-color: #378fdd; }
.bg-gs        { background-color: #0064bb; }
.bg-king      { background-color: #0700c5; }
.bg-indigo    { background-color: #3003A1; }
.bg-viola     { background-color: #8806B8; }
.bg-darkpink  { background-color: #AE0179; }

input[type="text"],
input[type="password"] {
  font-size: 14px;
  height: 50px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06) inset, 0px 0px 8px rgba(102, 175, 233, 0.45);
}


/**********************************************
                    BUTTONS
***********************************************/
.btn-portal,
.btn-portal-blue,
.btn-portal-default,
.btn-portal-green {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding:  15px 30px;

  /* add ... */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* type */
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 14px;
  line-height: 1em;

  /* style */
  background-image: none;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  /* unselectable text */
  -webkit-user-select: none;  /* Chrome all / Safari all */
     -moz-user-select: none;     /* Firefox all */
      -ms-user-select: none;      /* IE 10+ */
       -o-user-select: none;
          user-select: none;

  /* transition */
  -webkit-transition: all 0.4s ease;/* Safari 3.2+, Chrome */
     -moz-transition: all 0.4s ease;/* Firefox 4-15 */
       -o-transition: all 0.4s ease;/* Opera 10.5-12.00 */
          transition: all 0.4s ease;/* Firefox 16+, Opera 12.50+ */

/*  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06) inset, 0px 0px 8px rgba(102, 175, 233, 0.45);*/
}

.btn-portal-default {
  background-color: transparent;
  border-color: #ccc;
         color: #999;
}
.btn-portal-default:hover,
.btn-portal-default:focus,
.btn-portal-default:active,
.btn-portal-default.active {
  border-color: #adadad;
         color: #222;
}


.btn-portal-blue {
  margin-bottom: 1px;
  background-color: #378fdd;
      border-color: #378fdd;
             color: #FFF;
}
.btn-portal-blue:hover,
.btn-portal-blue:focus,
.btn-portal-blue:active,
.btn-portal-blue.active {
  background-color: #0064bb;
      border-color: #0064bb;
}

.btn-portal-green {
  background-color: #02b158;
      border-color: #02b158;
             color: #FFF;
}
.btn-portal-green:hover,
.btn-portal-green:focus,
.btn-portal-green:active,
.btn-portal-green.active {
  background-color: #249067;
      border-color: #249067;
}

/**********************************************
                    DOWNLOAD BUTTON
**********************************************/
.downloadall {
  display: none;
}
.ColVis{
  display: none;
}

/**********************************************
                    LOADER
***********************************************/
#loader {
  display: none;
  position: fixed;
  z-index: 999;
/* overflow: show; */
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#loader p{
  position: fixed;
  z-index: 1000;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/*********************************************
                    CONTENT
*********************************************/
#contentTable {
  overflow: hidden;
}

/*********************************************
                    TABLE
*********************************************/
.dataTables_scroll {
  border: 1px solid #ccc;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #ccc;
}
table.table,
#tableID {
  margin: 0 !important;
}
th {
  padding: 15px 0;
  border-right: 1px solid #f2f2f2;
}
th:last-child {
  border-right: none;
}
table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #ccc;
}
td {
  max-width: 8%;
  /* add ... */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
td:last-child {
  border-right: none;
}

.table tbody tr.active td,
.table tbody tr.active th {
  background-color: #378fdd !important;
  color: #FFF !important;
}
.table tbody tr.active td a,
.table tbody tr.active td i,
.table tbody tr.active td small {
  color: #FFF !important;
}

/*********************************************
                    PAGE
**********************************************/
.page {
  margin: 19.1px 0;
}
.dataTables_wrapper .dataTables_paginate {
  float: none;
  padding-top: 0;
  text-align: center;
}
div.dataTables_paginate ul.pagination {
  margin: 0px;
}

.pagination {
  border-radius: 0 !important;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.pagination > li > a {
  padding: 15px 12px;
}
.pagination > li.active,
.pagination > li > a,
.pagination > li > span {
  color: #378fdd;
}
.bottom {
  display: table;
  text-align: center !important;
  width: 100%;
}
.dataTables_wrapper .dataTables_length {
  float: none;
}
div.dataTables_length label {
  float: none;
  text-align: center;
}
.dataTables_wrapper .dataTables_info {
  float: none;
}
/*********************************************
                    MISC
**********************************************/

i.fa, li {
  cursor: pointer;
}


.fa,
.glyphicon {
  font-size: 18px !important;
}

.center {
  text-align: center !important;
}


/*
2.8  4.5  7.3  11.8  19.1  30.1  50  80.9  130.9  211.8  342.7
*/


/********************************************
                SIDENAV
********************************************/
#sidenav ul {
  padding: 0;
}


#upload a,
li.level1 > a {
  /* transition */
  -webkit-transition: all 0.4s ease;/* Safari 3.2+, Chrome */
     -moz-transition: all 0.4s ease;/* Firefox 4-15 */
       -o-transition: all 0.4s ease;/* Opera 10.5-12.00 */
          transition: all 0.4s ease;/* Firefox 16+, Opera 12.50+ */
}
#upload a,
li[class^="level"] > a {
  display: block;
  margin-bottom: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  font-size: 14px;
}

#upload a,
li.level1 > a {
  padding: 15px 0px 15px 19px;
  background-color: #2e8ac1;
             color: #FFF;
}
#upload > a:hover,
#upload > a:focus,
#upload > a:active,
li.level1 > a:hover,
li.level1 > a:focus,
li.level1 > a:active {
  background-color: #0064bb;
}
#upload > a.active
li.level1 > a.active {
  background-color: #378fdd;
}
li.level2 > a {
  padding: 15px 0px 15px 30px;
  background-color: #f2f2f2;
             color: #404040;

}
li.level2 > a:hover,
li.level2 > a:focus,
li.level2 > a:active,
li.level2 > a.active {
  border-left: 3px solid #0064bb;
  color: #0064bb;

}
li.level3 > a {
  padding: 15px 0px 15px 50px;
  background-color: transparent;
             color: #404040;
}


/****************************************************
                    DATEPICKER
****************************************************/
#datepicker {
  display: table;

}

#datepicker input {
  display: table-cell;
  max-width: 130px;
  text-align: center;
}

.dp-to {
  box-shadow: 0;
  height: 50px;
  display: table-cell;
  margin: 0;
  padding: 14px 7px 14px 7px;
  cursor: none;
  font-size: 14px;
  background-color: #f2f2f2;
  color: #888;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

