/*
2.8  4.5  7.3  11.8  19.1  30.1  50  80.9  130.9  211.8  342.7
div#header
div#top-nav
ul.sidebar-left
*/
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

/***************************************************
                       HEADER
****************************************************/
header {
  height: 80.9px;
  background-color: #0b68a1;
}
header ul {
  margin: 0;
  padding: 0;
  color: white;
  letter-spacing: .1em;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}
#logo {
  float: left;
  display:block;
  height: 73px;
  width: 73px;
  overflow: hidden;
  padding:10px;
}


/**********************************************
                    TOP NAV
***********************************************/
#top-nav ul,
td#top-nav ul:not(i)  {
  margin: 0;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 500;
  color: #a0a0a0;
}

#signout,
#toggle-side-menu {
  -webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
  -moz-transition: all 0.5s ease;/* Firefox 4-15 */
  -o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
  transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
}

#signout:hover,
#signout:focus,
#signout:active,
#signout.active,
#toggle-side-menu:hover,
#toggle-side-menu:focus,
#toggle-side-menu:active,
#toggle-side-menu.active {
  color: #505050;
}

/**********************************************
                    BREADCRUMP
**********************************************/
#breadcrumb{
  display: table-cell;
  line-height: 20px;
}

/**********************************************
                    SIDEBAR LEFT      #sidenav
***********************************************/
/* ul */
.sidebar-left {
  margin: 0;
  padding: 0;
}

.sidebar-left ul {
  padding: 0;
}

.sidebar-left li {
  margin-bottom: 1px;
  padding: 15px 0 15px 21px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 14px;
  color: #FFF;
  background-color: #3f9ad0;
  cursor: pointer;
  /* add ... on resize instead of break line */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* transition */
  -webkit-transition: all 0.4s ease;/* Safari 3.2+, Chrome */
     -moz-transition: all 0.4s ease;/* Firefox 4-15 */
       -o-transition: all 0.4s ease;/* Opera 10.5-12.00 */
          transition: all 0.4s ease;/* Firefox 16+, Opera 12.50+ */
}

li.sidebar-h-0:hover,
li.sidebar-h-0:focus,
li.sidebar-h-0:active,
li.sidebar-h-0.active {
  background-color: #0b68a1;
}
li.sidebar-h-1:hover,
li.sidebar-h-1:focus,
li.sidebar-h-1:active,
li.sidebar-h-1.active {
  background-color: #0620B8;
}
li.sidebar-h-2:hover,
li.sidebar-h-2:focus,
li.sidebar-h-2:active,
li.sidebar-h-2.active {
  background-color: #3003A1;
}
li.sidebar-h-3:hover,
li.sidebar-h-3:focus,
li.sidebar-h-3:active,
li.sidebar-h-3.active {
  background-color: #8806B8;
}
li.sidebar-h-4:hover,
li.sidebar-h-4:focus,
li.sidebar-h-4:active,
li.sidebar-h-4.active {
  background-color: #AE0179;
}

li.sidebar-h-5:hover,
li.sidebar-h-5:focus,
li.sidebar-h-5:active,
li.sidebar-h-5.active {
  background-color: #0b68a1;
}

/**********************************************
                    SIDE MENU       #side-menu
***********************************************/

/* position for sliding effect */
#side-menu {
  position: fixed;
  background-color: #0b68a1;
  color: white;
}
#main {
  position: relative;
  width: 100%;
}

/* style */
.side-menu-head,
.side-menu-head-icon {
  height: 50px;
  line-height: 50px;
  margin: 0px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #3F9AD0;
  color: #ABD3E1;
}
.side-menu-head-icon {
  cursor: pointer;
  color: white;
    /* transition */
  -webkit-transition: all 0.4s ease;/* Safari 3.2+, Chrome */
  -moz-transition: all 0.4s ease;/* Firefox 4-15 */
  -o-transition: all 0.4s ease;/* Opera 10.5-12.00 */
  transition: all 0.4s ease;/* Firefox 16+, Opera 12.50+ */
}
.side-menu-head-icon i {
  opacity: .6;
}
.side-menu-head-icon:hover i,
.side-menu-head-icon:focus i,
.side-menu-head-icon:active i,
.side-menu-head-icon.active i {
  opacity: 1;
}

.side-menu-list {
  margin: 1px 0 0 0;
  padding: 0;
}
.side-menu-list > li.active:before {
  font-size: 14px;
  font-family: 'FontAwesome';
  content: "\f00c";
}
.side-menu-list > li {
  height: 50px;
  margin-bottom: 1px;
  padding: 15px 0px 15px 30px;
  /* add ... on resize instead of break line */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #FFF;
  background-color: #0b68a1;
  cursor: pointer;
  
  /* transition */
  -webkit-transition: all 0.4s ease;/* Safari 3.2+, Chrome */
  -moz-transition: all 0.4s ease;/* Firefox 4-15 */
  -o-transition: all 0.4s ease;/* Opera 10.5-12.00 */
  transition: all 0.4s ease;/* Firefox 16+, Opera 12.50+ */
}
.side-menu-list > li:hover,
.side-menu-list > li:focus,
.side-menu-list > li:active {
  background-color: #2e8ac1;
}
.side-menu-list > li.active {
  background-color: #3f9ad0;
}

#init-conf {
  opacity: .7;
}
#init-conf:hover,
#init-conf:focus,
#init-conf:active,
#init-conf.active {
  background-color: #3f9ad0;
  border-color: #3f9ad0;
  opacity: 1;
}

/**********************************************
                    COLORS
***********************************************/
.bg-green     { background-color: #02b158; }
.bg-darkgreen { background-color: #238553; }
.bg-gs-clear  { background-color: #3f9ad0; }
.bg-gs        { background-color: #0b68a1; }
.bg-king      { background-color: #0620B8; }
.bg-indigo    { background-color: #3003A1; }
.bg-viola     { background-color: #8806B8; }
.bg-darkpink  { background-color: #AE0179; }




input[type="text"] {
  padding: 14px 13px;
  font-size: 14px;
}


/**********************************************
                    BUTTONS
***********************************************/
.btn-portal-blue,
.btn-portal-default,
.btn-portal-green {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
/*  padding-top: 14px;
  padding-bottom: 14px;*/
  padding:  14px 30px;

  /* add ... */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* type */
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 14px;

  /* style */
  background-image: none;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;

  /* unselectable text */
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
      -ms-user-select: none;      /* IE 10+ */
       -o-user-select: none;
          user-select: none;

  /* transition */
  -webkit-transition: all 0.4s ease;/* Safari 3.2+, Chrome */
     -moz-transition: all 0.4s ease;/* Firefox 4-15 */
       -o-transition: all 0.4s ease;/* Opera 10.5-12.00 */
          transition: all 0.4s ease;/* Firefox 16+, Opera 12.50+ */
}

.btn-portal-default {
  background-color: transparent;
  color: #999;
  border-color: #ccc;
}
.btn-portal-default:hover,
.btn-portal-default:focus,
.btn-portal-default:active,
.btn-portal-default.active {
  color: #222;
  border-color: #adadad;
}


.btn-portal-blue {
  margin-bottom: 1px;
  color: #FFF;
  background-color: #3f9ad0;
  border-color: #3f9ad0;
}
.btn-portal-blue:hover,
.btn-portal-blue:focus,
.btn-portal-blue:active,
.btn-portal-blue.active {
  background-color: #0b68a1;
  border-color: #0b68a1;
}

.btn-portal-green {
  background-color: #02b158;
  border-color: #02b158;
  color: #FFF;
}
.btn-portal-green:hover,
.btn-portal-green:focus,
.btn-portal-green:active,
.btn-portal-green.active {
  background-color: #238553;
  border-color: #238553;
}


/**********************************************
                    LOADER
***********************************************/
#loader {
  display: none;
  position: fixed;
  z-index: 999;
/*  overflow: show;*/
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#loader p{
  position: fixed;
  z-index: 1000;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/*********************************************
                    CONTENT
*********************************************/
#contentTable {
  overflow: hidden;
}

/*********************************************
                    TABLE
*********************************************/
.dataTables_scroll {
  border: 1px solid #ccc;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #ccc;
}
table.table,
#tableID {
  margin: 0 !important;
}
th {
  border-right: 1px solid #f2f2f2;
}
th:last-child {
  border-right: none;
}
table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #ccc;
}
td {
  max-width: 8%;

  /* add ... */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
td:last-child {
  border-right: none;
}
/*********************************************
                    MISC
**********************************************/

i.fa, li {
  cursor: pointer;
}


.fa,
.glyphicon {
  font-size: 18px !important;
}

.center {
  text-align: center !important;
}


/*
2.8  4.5  7.3  11.8  19.1  30.1  50  80.9  130.9  211.8  342.7
*/


