body {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 14px;
}

header {
  height: 85px;
  background-color: #0b68a1;
}
/*    sidebar    */

/* ul */
#nav {
  margin: 20px 0 0 0;
  /*padding: 0 0 0 12px;*/
  padding: 0;
}

li {
  margin-bottom: 5px;
  padding: 12px 8px 12px 14px;
  line-height: 40px;
  color: #FFF;
  background-color: #3f9ad0;
  border-left: 3px solid #3f9ad0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;/* Safari 3.2+, Chrome */
     -moz-transition: all 0.3s ease;/* Firefox 4-15 */
       -o-transition: all 0.3s ease;/* Opera 10.5-12.00 */
          transition: all 0.3s ease;/* Firefox 16+, Opera 12.50+ */

}
li.nav-head-0:hover,
li.nav-head-0:focus,
li.nav-head-0:active,
li.nav-head-0.active {
  background-color: #0b68a1;
  border-left: 3px solid #0b68a1;
}
li.nav-head-1:hover,
li.nav-head-1:focus,
li.nav-head-1:active,
li.nav-head-1.active {
  background-color: #0620B8;
  border-left: 3px solid #0b68a1;
}
li.nav-head-2:hover,
li.nav-head-2:focus,
li.nav-head-2:active,
li.nav-head-2.active {
  background-color: #3003A1;
  border-left: 3px solid #0b68a1;
}
li.nav-head-3:hover,
li.nav-head-3:focus,
li.nav-head-3:active,
li.nav-head-3.active {
  background-color: #8806B8;
  border-left: 3px solid #0b68a1;
}
li.nav-head-4:hover,
li.nav-head-4:focus,
li.nav-head-4:active,
li.nav-head-4.active {
  background-color: #AE0179;
  border-left: 3px solid #0b68a1;
}

li.nav-head-5:hover,
li.nav-head-5:focus,
li.nav-head-5:active,
li.nav-head-5.active {
  background-color: #238553;
  border-left: 3px solid #238553;
}
/*    COLOR SCHEME    */
.bg-green     { background-color: #02b158; }
.bg-darkgreen { background-color: #238553; }
.bg-gs-clear  { background-color: #3f9ad0; }
.bg-gs        { background-color: #0b68a1; }
.bg-king      { background-color: #0620B8; }
.bg-indigo    { background-color: #3003A1; }
.bg-viola     { background-color: #8806B8; }
.bg-darkpink  { background-color: #AE0179; }

