a,
a:hover,
a:focus,
a:active,
a.active {
  text-decoration: none;
}
a:focus {
  outline: none !important;
  outline-offset: 0 !important;
}
ul,
li {
  list-style: none;
}
#uploadCollapse {
  position: relative;
  min-height: 1px;
}
#uploadCollapse .btn-upload {
  position: relative;
  overflow: hidden;
  margin-bottom: 32px;
  display: block;
  /*    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 0px;
    padding-left: 0px;*/
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  line-height: 2em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 3px solid #428bca;
  border-radius: 4px;
  background-image: none;
  background-color: #428bca;
  color: #fff;
}
#uploadCollapse .btn-upload:after {
  content: "Chargemenet des fichiers";
}
#uploadCollapse .btn-upload:focus,
#uploadCollapse .btn-upload:hover,
#uploadCollapse .btn-upload:active,
#uploadCollapse .btn-upload.active {
  border: 3px dashed #ddd;
  background-color: transparent;
  color: #bbb;
}
#uploadCollapse .btn-upload.active:after {
  content: "\a Faites glisser vos fichiers ici";
  white-space: pre;
  line-height: 3.5em;
  font-size: 16px;
}
#uploadCollapse .btn-upload.active:after span > i {
  font-size: 18px !important;
}
#uploadCollapse #uploadFiles {
  width: 100%;
  margin-bottom: 32px;
  padding-bottom: 32px;
}
#uploadCollapse #uploadFiles .btn-group {
  margin-right: 20px !important;
}
#uploadCollapse #uploadFiles #files {
  margin: 32px 0 32px 0;
}
#uploadCollapse #uploadFiles #files #progress {
  display: none;
}
#loader {
  display: none;
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
#loader p {
  position: fixed;
  z-index: 1000;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.wrapper {
  min-height: 650px;
}
#search,
#dir-name {
  padding-bottom: 20px;
}
.centered {
  width: 50%;
  margin: 0 auto;
}
ul#dir-name li.pw-tab-folder a:before {
  content: "\f114";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: bold;
  text-decoration: inherit;
}
ul#dir-name li.pw-tab-folder.active a:before {
  content: "\f115";
}
.fa-download,
i,
a i {
  cursor: pointer;
}
div#filter div.btn-group:nth-child(1) ul:nth-child(2) > li:nth-child(1) > a:nth-child(1) {
  background-color: #dff0d8;
}
div#filter div.btn-group:nth-child(1) > ul:nth-child(2) > li:nth-child(4) > a:nth-child(1) > i:nth-child(1) {
  color: #999999;
}
#filter div.btn-group {
  position: relative;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 10px;
  line-height: 34px;
}
.fixed-table-toolbar .search,
.fixed-table-toolbar #datepicker {
  position: relative;
  margin-bottom: 10px;
  margin-right: 10px;
  line-height: 34px;
}
.fixed-table-toolbar #datepicker {
  margin-top: 0;
}
.fixed-table-toolbar #datepicker input,
.fixed-table-toolbar #datepicker span {
  height: 34px;
}
.fixed-table-toolbar .columns,
.fixed-table-toolbar .search {
  margin-top: 0;
}
#get-selections {
  display: none;
  margin-bottom: 10px;
}
table[id^="table-"] thead:nth-child(1) > tr:nth-child(1) > th:nth-child(1),
table#mainTable thead:nth-child(1) > tr:nth-child(1) > th:nth-child(1) {
  width: 65px;
}
table[id^="table-"] thead tr th,
table#mainTable thead tr th {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
table[id^="table-"] thead tr th div.th-inner span.unsorted:after,
table#mainTable thead tr th div.th-inner span.unsorted:after {
  content: "\f0dc";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 0 5px;
}
table[id^="table-"] thead tr th:last-child,
table#mainTable thead tr th:last-child {
  width: 40px;
}
table[id^="table-"] tbody tr > td:nth-child(1),
table#mainTable tbody tr > td:nth-child(1) {
  text-align: left;
}
table[id^="table-"] tbody tr > td:nth-child(1) a,
table#mainTable tbody tr > td:nth-child(1) a {
  margin-left: 43%;
}
table[id^="table-"] tbody tr td:last-child::before,
table#mainTable tbody tr td:last-child::before {
  /*content:'.';*/
}
table[id^="table-"] tbody tr td:last-child,
table#mainTable tbody tr td:last-child {
  text-transform: lowercase;
}
table[id^="table-"] tbody tr td,
table#mainTable tbody tr td {
  color: #6a6a6a;
}
table[id^="table-"] tbody tr td a,
table#mainTable tbody tr td a {
  color: #656565;
}
table[id^="table-"] tbody tr td.true a,
table#mainTable tbody tr td.true a {
  color: #428BCA;
}
table[id^="table-"] tbody tr.new td,
table#mainTable tbody tr.new td {
  background-color: #d9edf7 !important;
}
table[id^="table-"] .fixed-table-pagination .pagination,
table#mainTable .fixed-table-pagination .pagination,
table[id^="table-"] .fixed-table-pagination .pagination-detail,
table#mainTable .fixed-table-pagination .pagination-detail {
  margin-top: 20px;
  font-size: 14px;
}
.pagination-info,
.page-list {
  font-size: 14px !important;
}
#btn-pageResult {
  border: 0 !important;
  background-color: transparent;
  color: #428BCA;
  font-weight: bold;
}
#btn-pageResult span.caret {
  border-bottom: 4px solid #428BCA;
  margin-top: -7px;
}
