#search,
#dir-name {
  padding-bottom: 20px;
}
ul#dir-name li a {
  font-weight: bold;
  letter-spacing: .02em;
}
ul#dir-name li.pw-tab-folder a,
.nav-pills > li > a {
  border-radius: 0px;
  padding: 9px 15px 8px 15px;
}
ul#dir-name li.pw-tab-folder a:before {
  content: "\f114";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: bold;
  text-decoration: inherit;
}
ul#dir-name li.pw-tab-folder.active a:before {
  content: "\f115";
}
ul,
li {
  list-style: none;
}
table[id^="table-"] thead tr th,
table#mainTable thead tr th {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
table[id^="table-"] thead tr th:first-child,
table#mainTable thead tr th:first-child {
  width: 52px;
}
table[id^="table-"] thead tr th.th-date,
table#mainTable thead tr th.th-date {
  width: 85px;
}
table[id^="table-"] thead tr th.th-type,
table#mainTable thead tr th.th-type,
table[id^="table-"] thead tr th.th-employee,
table#mainTable thead tr th.th-employee {
  width: 132px;
}
table[id^="table-"] thead tr th:last-child,
table#mainTable thead tr th:last-child {
  width: 52px;
}
table[id^="table-"] tbody tr td:nth-child(3),
table#mainTable tbody tr td:nth-child(3) {
  text-align: center;
}
table[id^="table-"] tbody tr td:last-child::before,
table#mainTable tbody tr td:last-child::before {
  content: '.';
}
table[id^="table-"] tbody tr td:last-child,
table#mainTable tbody tr td:last-child {
  text-transform: lowercase;
  text-align: center;
}
table[id^="table-"] tbody tr td:last-child button.pw-btn-th,
table#mainTable tbody tr td:last-child button.pw-btn-th {
  padding: 5px !important;
}
table[id^="table-"] tbody tr td,
table#mainTable tbody tr td {
  color: #6a6a6a;
}
table[id^="table-"] tbody tr td:first-child,
table#mainTable tbody tr td:first-child {
  /*    text-align: center;*/
  padding-left: 2.5%;
}
table[id^="table-"] tbody tr td:first-child a,
table#mainTable tbody tr td:first-child a {
  color: #808080;
}
table[id^="table-"] tbody tr td:first-child a i.fa,
table#mainTable tbody tr td:first-child a i.fa {
  font-style: 18px;
}
table[id^="table-"] tbody tr td.true a,
table#mainTable tbody tr td.true a {
  color: #428BCA;
}
table[id^="table-"] tbody tr.true td,
table#mainTable tbody tr.true td {
  background-color: #DFF0D8 !important;
  border-color: #D6E9C6;
}
