/*
4.72
7.64
12.36
20
32.36
52.36
84.72
137.08

blue        0065BF
blue-l      0388ff
blue-d      004d92

green       00c76d
green-l     01fc8a
green-d     009c55

indigo      1200c8
indigo-l    3723fc
indigo-d    0e009d

info        D9EDF7
info-d      5dc0de
*/

body{
    font-size:12px;
    letter-spacing: 0.016em;
}

/* HEADER
******************************/
header #banner-header{
    background-image: url("images/header-background.jpg");
    padding:5px 10px;
}

/* NAV */
.navbar-default {
    background-color: #ffffff;
}
.navbar {
    border-radius: 0px;
    border-bttom: 1px solid #DDDDDD;
    margin:0 0 32px 0;
    min-height: 32px;
    position: relative;
}

header nav.navbar div.container-fluid div a.navbar-brand{
    padding:0 12px 0 32px;
    height: 32px;
    line-height: 32px;
}
header nav.navbar div.container-fluid div ul.nav{
    margin:0;
}

/******************************/


/*  #CONTENT
******************************/
#content{
    min-height:600px;
}

/* UPLOAD */
div#up div div div.btn-group{
    margin-bottom:32px;
}
.dropdown-menu {
    right:0;
}
div#upload-content div.panel div.panel-heading{
    padding:0;
}
div#upload-content div.panel div.panel-heading.active,
div#upload-content div.panel div.panel-heading:active,
div#upload-content div.panel div.panel-heading:focus,
div#upload-content div.panel div.panel-heading:hover {
    border-right: 0 !important;
}

div#upload-content div.panel div.panel-heading h4.panel-title a#btn-upload-toggle{
    margin-bottom:12px;
    border:0;
    color:#CCC;
    padding:16px 12px;
    font-size: 14px;
    border: 2px dashed #CCC;
}

a#btn-upload-toggle.active,
a#btn-upload-toggle:active
a#btn-upload-toggle:focus,
a#btn-upload-toggle:hover{
    background-color:#fff;
    color:#004d92;
    border-color: #0065BF;
}
div#upload-content.panel-group .panel.panel-default .panel-collapse{
    min-height: 1px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    border-top: 0;
}
div#up div div p{
    margin-bottom:32px;
}
#upload-content .collapse.in {
    display: table;
    border-bottom:1px solid #dddddd;
    padding-bottom:32px;
}
div#up div div.panel-body,
#drop-field {
    padding:20px;
}
#drop-field {
    border:4px dashed #dddddd;
    font-size:36px;
    lin-height:48px;
    color:#dddddd;
    text-align: center;
    padding:32px 20px;
    margin: 20px 0 0 0;
    /*border-radius:12px;*/
}




/* NAV tabs */

/*recherche*/
ul.nav li form input.form-control{
    height:32px;
}

.nav{
    margin:20px 0;
}
.nav li {
    padding:0;
}
.nav > li > a {
    display: block;
    padding: 7px 15px;
    position: relative;
}
ul#nav-dir li a{
    font-weight: bold;
    font-size:13px;
}


/* file-list */
div#file-list{
    /*min-height:580px;*/
}
div#file-list div.tab-pane div.col-md-9 table.table tbody tr td:first-child{
    display:table-cell;
    text-align: center;
}
div#file-list div.tab-pane div.col-md-9 table.table tbody tr td,
div#file-list div.tab-pane div.col-md-9 table.table tbody tr td a{
/*    font-size: 12px;*/
}

#file-list .type-count{
    width:30px;
}

.icon-cell{
    width:52px;
    display:table-cell;
    vertical-align: middle;
    text-align: center;
}

/*table content */
.table-bordered{
    margin-bottom:12px;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border-bottom-width: 1px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 4px;
    display:table-cell;
    vertical-align: middle;
    color:#707070;
}

.table > tbody > tr > td:first-child {
    text-align: center;
}
/* table : dropdown button */
div#file-list div.tab-pane div table thead tr th div.btn-group button.btn{
    border:0;
    font-size: 12px;
}

.btn-group.open .dropdown-toggle {
    box-shadow: 0 0px 0px rgba(0, 0, 0) inset;
}
.btn:active,
.btn.active,
.open .btn,
.open .btn {
    box-shadow: 0 0px 0px rgba(0, 0, 0) inset;
    color:#0065bf;
}
div#file-list div.tab-pane div table thead tr th div.btn-group button.btn-default:hover,
div#file-list div.tab-pane div table thead tr th div.btn-group button.btn-default:focus,
div#file-list div.tab-pane div table thead tr th div.btn-group button.btn-default:active,
div#file-list div.tab-pane div table thead tr th div.btn-group button.btn-default.active,
div#file-list div.tab-pane div table thead tr th div.btn-group button.open > .dropdown-toggle.btn-default {
    background-color: #fff;
    border-color: #fff;
    color: #333333;
    box-shadow: 0 !important;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-color: #fff;
    border-color: #fff;
    color: #333333;
}

/* dropdown button upload module */
div#up div div.panel-body div.btn-group button.btn-default,
div#up div div.panel-body div.btn-group button.btn-default:hover,
div#up div div.panel-body div.btn-group button.btn-default:focus,
div#up div div.panel-body div.btn-group button.btn-default:active,
div#up div div.panel-body div.btn-group button.btn-default.active,
div#up div div.panel-body div.btn-group button.open > .dropdown-toggle.btn-default {
    border-color: #ddd;
}
div#up div div.panel-body div.btn-group ul.dropdown-menu{
    border-radius:0;
}
div#up ul li.active,
div#up ul li:active,
div#up ul li:hover,
div#up ul li:focus,
div#up ul.dropdown-menu li{
    border-right:0;
}
/* *** */

/* progress bar */
.panel-body-progress{
    padding:0 32px;
}
.progress {
    background-color: #F2F2F2;
    border-radius: 0px;
}



div#file-list div.tab-pane div table thead tr th div.btn-group .dropdown-menu {
    border-radius: 0px;
    font-size: 12px;
}

/* PAGINATION */
.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

/* button download files */
div#file-list div.tab-pane div.col-md-9 table.table tfoot tr td{
    margin:0;
    padding:0;
}

div#file-list div.tab-pane div.col-md-9 table.table tfoot tr td {
    /*line-height:52px;*/
    display:table-cell;
    vertical-align: middle;
}

/******************************/
/* overwrite Bootstrap
******************************/

/* border-radius */
input, textarea,
[class^="btn-"],
.btn,
.btn-lg,
.nav-pills > li > a,
.jumbotron,
.well,
.input-group-addon
{
    border-radius:0px !important;
}
.btn{
    padding: 5px 12px;
}


/*

 pixlr grabber
 pixel perfect
 user-agent-switche
 */




/* collapse SIDEBAR LEFT */
.panel-group .panel,
.panel-heading
{
    border-radius:0px !important;
}
.panel-group {
    margin-bottom: 0px;
}
.panel-group:last-child {
    margin-bottom: 20px;
}
.panel {
    border:0;
    box-shadow: none;
}
.panel-default > .panel-heading {
    background-color: #F6F6F6;
}
.panel-heading {
     background-color: #F6F6F6;
     border-top-left-radius: 0px;
     border-top-right-radius: 0px;
     padding: 5px 12px 5px 5px;
     font-size:13px;
}
.panel-heading.active,
.panel-heading:active,
.panel-heading:focus,
.panel-heading:hover{
    border-right: 1px solid #0065BF;
    color:#0065BF;
}
.panel-heading a.active,
.panel-heading a:active,
.panel-heading a:focus,
.panel-heading a:hover{
    text-decoration: none;
    color:#0065BF;
}
.panel-group div.panel div.panel-collapse ul{
    margin:0;
}
div.panel div.panel-collapse ul{
    padding-left:12px;
}
.panel-group div.panel div.panel-collapse ul li{
    padding: 3px 0 3px;
}
.panel-group div.panel div.panel-heading a{
    color:#808080;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=180, Color=#ffffff)";/*IE 8*/
    text-shadow: 0px 1px 1px #ffffff;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=180, Color=#ffffff); /*IE 5.5-7*/
}
.panel-group div.panel div.panel-heading a{
    font-weight: bold;
}
.panel-group div.panel div.panel-heading a.active,
.panel-group div.panel div.panel-heading a:active,
.panel-group div.panel div.panel-heading a:hover,
.panel-group div.panel div.panel-heading a:focus{
    color:#0065BF;
    /*color:#1200c8;*/
}
.panel-group div.panel div.panel-collapse ul li{
    list-style: none;
    cursor: pointer;
    display:block;
    color:#737373;
    font-size:12px;
}
.panel-group div.panel div.panel-collapse ul li:last-child{
    padding-bottom:4px;
}
.panel-group div.panel div.panel-collapse ul li.active,
.panel-group div.panel div.panel-collapse ul li:active,
.panel-group div.panel div.panel-collapse ul li:hover,
.panel-group div.panel div.panel-collapse ul li:focus{
    border-right: 1px solid #0065BF;
    color:#0065BF;
    /*color:#0388ff;*/
/*    color: #5dc0de;*/
    /*color:#1200c8;*/

}

/******************************/





/* MISCELlANEOUS */
.caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid #000000;
}

.wide{
    width: 100%;
    display:block;
}
/*
.golden-ratio{
    :1.618033988em;
}
*/

.golden-l{
    width: 61.80%;
    float:left;
}
.golden-s{
    width: 38.19%;
    float:left;
}

/* COLOR     */
.bg-new{
     background-color: #EEFFFF;
 }

.new{
    color: #EEFFFF;
    border:1px solid #dddddd;
}
.highlight{
    background-color: #01fc8a;
    color: #555;
}
/******************************/

/*
$golden-ratio:    1.6180339887498948482;
$golden-l:       (1 / $golden-ratio);
$golden-s:       (1 - $golden-lg);

blue        0065BF
blue-l      0388ff
blue-d      004d92

green       00c76d
green-l     01fc8a
green-d     009c55

indigo      1200c8
indigo-l    3723fc
indigo-d    0e009d

info        D9EDF7
info-d      5dc0de
*/