/*
3  5  8  13  21  34  55  89  144  233  377
div#header
div#top-nav
ul.sidebar-left
*/
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  overflow-x: hidden;
}

/************************************************************/
/*                        HEADER                            */
/************************************************************/
#header {
  height: 89px;
  background-color: #0b68a1;
}
#header span {
  display: block;
  color: white;
  padding-top: 42px;
  letter-spacing: .1em;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}
#logo {
  float: left;
  display:block;
  height: 83px;
  width: 73px;
  overflow: hidden;
  padding:10px;
}


/************************************************************/
/*                        TOPNAV                            */
/************************************************************/
#top-nav ul {
  margin: 0;
  padding: 0 13px 0 13px;
  font-weight: 500;
  color: #a0a0a0;
}
#top-nav li,
#top-nav i {
  height: 55px;
  font-size: 24px;
  line-height: 55px;
  float: left;
}

/* menu right icons top-nav */
/*#toggle-side-menu:after {
  font-family: "FontAwesome";
  content: "\f053";
}
#toggle-side-menu.active:after {
  font-family: "FontAwesome";
  content: "\f054";
}*/
#signout,
#toggle-side-menu {
  line-height: 55px;
  font-size: 24px;
  -webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
  -moz-transition: all 0.5s ease;/* Firefox 4-15 */
  -o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
  transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
}

#signout:hover,
#signout:focus,
#signout:active,
#signout.active,
#toggle-side-menu:hover,
#toggle-side-menu:focus,
#toggle-side-menu:active,
#toggle-side-menu.active {
  color: #505050;
}


/**************/
/*  .sidebar-left  */
/************/
/* ul */
.sidebar-left {
  margin: 0;
  padding: 0;
}

.sidebar-left > li {
  margin-bottom: 1px;
  padding: 12px 0 12px 20px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  color: #FFF;
  background-color: #3f9ad0;
  cursor: pointer;
  /* add ... on resize instead of break line */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* transition */
  -webkit-transition: all 0.4s ease;/* Safari 3.2+, Chrome */
     -moz-transition: all 0.4s ease;/* Firefox 4-15 */
       -o-transition: all 0.4s ease;/* Opera 10.5-12.00 */
          transition: all 0.4s ease;/* Firefox 16+, Opera 12.50+ */
}
li.sidebar-h-0:hover,
li.sidebar-h-0:focus,
li.sidebar-h-0:active,
li.sidebar-h-0.active {
  background-color: #0b68a1;
}
li.sidebar-h-1:hover,
li.sidebar-h-1:focus,
li.sidebar-h-1:active,
li.sidebar-h-1.active {
  background-color: #0620B8;
}
li.sidebar-h-2:hover,
li.sidebar-h-2:focus,
li.sidebar-h-2:active,
li.sidebar-h-2.active {
  background-color: #3003A1;
}
li.sidebar-h-3:hover,
li.sidebar-h-3:focus,
li.sidebar-h-3:active,
li.sidebar-h-3.active {
  background-color: #8806B8;
}
li.sidebar-h-4:hover,
li.sidebar-h-4:focus,
li.sidebar-h-4:active,
li.sidebar-h-4.active {
  background-color: #AE0179;
}

li.sidebar-h-5:hover,
li.sidebar-h-5:focus,
li.sidebar-h-5:active,
li.sidebar-h-5.active {
  background-color: #0b68a1;
}


/**************/
/* side-menu */
/************/

/* position for animate */
#side-menu {
  width: 300px;
  height: 800px;
  top: 89px; /* depends on the header height */
  background-color: #0b68a1;
  color: white;
}
.side-menu-hide {
  position: absolute;
  right: -300px; /* equals side-menu width */
}
.side-menu-show {
  position: absolute;
  right: 0px;
}
.main-show {
  position: relative;
}
.main-hide {
  position: absolute;
  left: -300px; /* equals side-menu width */
  top: 0px;
  width: 100%;
}


/* style */
.side-menu-head {
  margin: 0;
  padding: 17px 0px 17px 25px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #3f9ad0;
  opacity: .68;
}
.side-menu-head > span {
  padding: 0 13px;
}
.side-menu-list {
  margin: 1px 0 0 0;
  padding: 0;
}
.side-menu-list > li.active:before {
  font-family: 'FontAwesome';
  content: "\f00c";
}
.side-menu-list > li {
  margin-bottom: 1px;
  padding: 13px 0 13px 34px;
  line-height: 30px;
  color: #FFF;
  background-color: #0b68a1;
  cursor: pointer;
  /* add ... on resize instead of break line */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* transition */
  -webkit-transition: all 0.4s ease;/* Safari 3.2+, Chrome */
  -moz-transition: all 0.4s ease;/* Firefox 4-15 */
  -o-transition: all 0.4s ease;/* Opera 10.5-12.00 */
  transition: all 0.4s ease;/* Firefox 16+, Opera 12.50+ */
}
.side-menu-list > li:hover,
.side-menu-list > li:focus,
.side-menu-list > li:active {
  background-color: #2e8ac1;
}
.side-menu-list > li.active {
  background-color: #3f9ad0;
}

i, li {
  cursor: pointer;
}
/*
3  5  8  13  21  34  55  89  144  233  377
*/