@import "../../portalcdn/css/portal-app.css";
@import "../../portalcdn/css/roboto-light.css";
@import "../../portalcdn/css/roboto-regular.css";
@import "../../portalcdn/css/roboto-medium.css";
@import "../../portalcdn/css/libre-baskerville.css";
/* @author  :   Gilles Collard - Group S */
/* @date    :   2014-10 */
/* @version :  1.0 */
.focus-100:hover,
.focus-100:focus,
.focus-100:active,
.focus-100.active {
  opacity: 1;
}
.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/*-------------------------------*\
            font
\*-------------------------------*/
.robotolight {
  font-family: 'robotolight';
}
.robotoregular {
  font-family: 'robotoregular';
}
.robotomedium {
  font-family: 'robotomedium';
}
.robotobold {
  font-family: 'robotobold';
}
.robotoblack {
  font-family: 'robotoblack';
}
.robotoslabthin {
  font-family: 'robotoslabthin';
}
.robotoslablight {
  font-family: 'robotoslablight';
}
.robotoslabregular {
  font-family: 'robotoslabregular';
}
.robotoslabbold {
  font-family: 'robotoslabbold';
}
.robotoCondensedregular {
  font-family: 'robotoCondensedregular';
}
.robotoCondensedlight {
  font-family: 'robotoCondensedlight';
}
.librebaskervilleitalic {
  font-family: 'librebaskervilleitalic';
}
/*-------------------------------*\
            colors
\*-------------------------------*/
.text-xlt-blue {
  color: #63a4dd;
}
.text-lt-blue {
  color: #378fdd;
}
.text-blue {
  color: #0065bd;
}
.text-dk-blue {
  color: #00407a;
}
.text-lt-green {
  color: #00fd9e;
}
.text-green {
  color: #00c27b;
}
.text-dk-green {
  color: #009a60;
}
.text-lt-indigo {
  color: #0a00fe;
}
.text-indigo {
  color: #0700c5;
}
.text-dk-indigo {
  color: #06009f;
}
.text-viola {
  color: #8806b8;
}
.text-dk-pink {
  color: #ae0179;
}
.bg-xlt-blue {
  background-color: #63a4dd;
}
.bg-lt-blue {
  background-color: #378fdd;
}
.bg-blue {
  background-color: #0065bd;
}
.bg-dk-blue {
  background-color: #00407a;
}
.bg-lt-green {
  background-color: #00fd9e;
}
.bg-green {
  background-color: #00c27b;
}
.bg-dk-green {
  background-color: #009a60;
}
.bg-lt-indigo {
  background-color: #0a00fe;
}
.bg-indigo {
  background-color: #0700c5;
}
.bg-dk-indigo {
  background-color: #06009f;
}
.bg-viola {
  background-color: #8806b8;
}
.bg-dk-pink {
  background-color: #ae0179;
}
.bg-addthis {
  background-color: #f8704d;
}
/*--------------------*\
        BLACK
\*--------------------*/
.black-10 {
  color: #e6e6e6;
}
.black-20 {
  color: #cccccc;
}
.black-30 {
  color: #b3b3b3;
}
.black-40 {
  color: #999999;
}
.black-50 {
  color: #808080;
}
.black-60 {
  color: #666666;
}
.black-70 {
  color: #4d4d4d;
}
.black-80 {
  color: #333333;
}
.black-90 {
  color: #191919;
}
.black-100 {
  color: #000000;
}
/*--------------------*\
    BLACK OPACITY
\*--------------------*/
.black-o-10 {
  color: #000;
  opacity: 0.1;
}
.black-o-20 {
  color: #000;
  opacity: 0.2;
}
.black-o-30 {
  color: #000;
  opacity: 0.3;
}
.black-o-40 {
  color: #000;
  opacity: 0.4;
}
.black-o-50 {
  color: #000;
  opacity: 0.5;
}
.black-o-60 {
  color: #000;
  opacity: 0.6;
}
.black-o-70 {
  color: #000;
  opacity: 0.7;
}
.black-o-80 {
  color: #000;
  opacity: 0.8;
}
.black-o-90 {
  color: #000;
  opacity: 0.9;
}
.black-o-100 {
  color: #000;
  opacity: 1;
}
/*--------------------*\
        OPACITY
\*--------------------*/
/*--------------------*\
        OPACITY
\*--------------------*/
.o-10 {
  -webkit-opacity: 0.1;
  -moz-opacity: 0.1;
  opacity: 0.1;
}
.o-20 {
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
}
.o-30 {
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  opacity: 0.3;
}
.o-40 {
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}
.o-50 {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.o-60 {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.o-70 {
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}
.o-80 {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.o-90 {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.o-100 {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.header-blue,
.logo-groups-blue {
  color: #254B90;
}
/*
GROUP S blue
------------
#086cc3
*/
.color-1 {
  color: #082ec4;
}
.color-2 {
  color: #2108c4;
}
.color-3 {
  color: #6008c4;
}
.color-4 {
  color: #9e08c4;
}
.color-5 {
  color: #c408ab;
}
.color-6 {
  color: #c4086c;
}
.color-7 {
  color: #c4082e;
}
.color-8 {
  color: #c42108;
}
.color-9 {
  color: #c46008;
}
.color-10 {
  color: #c49e08;
}
.color-11 {
  color: #abc408;
}
.color-12 {
  color: #6cc408;
}
.color-13 {
  color: #2ec408;
}
.color-14 {
  color: #08c421;
}
.color-15 {
  color: #08c460;
}
.color-16 {
  color: #08c49e;
}
.color-17 {
  color: #08abc4;
}
.color-18 {
  color: #086cc4;
}
/*-------------------------------*\
            misc
\*-------------------------------*/
.clickable,
.pointer {
  cursor: pointer;
}
.editable,
.edit {
  cursor: text;
}
.grab,
.drag {
  cursor: grab;
}
.wait {
  cursor: wait;
}
.progress {
  cursor: progress;
}
.move {
  cursor: move;
}
.help {
  cursor: help;
}
.not-allowed,
.inactive,
.disable,
.disabled {
  cursor: not-allowed;
}
/*-------------------------------*\
            grid
\*-------------------------------*/
.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.wide {
  width: 100%;
}
.col-centered,
.col-center {
  float: none;
  margin: 0 auto;
}
/*-------------------------------*\
            goldenratio
\*-------------------------------*/
.col-gold-s {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 16px;
  padding-right: 16px;
  width: 38.19660113%;
}
.col-gold-l {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 16px;
  padding-right: 16px;
  width: 61.80339887%;
}
.col-gold-offset-s {
  margin-left: 38.19660113%;
}
.col-gold-offset-l {
  margin-left: 61.80339887%;
}
.col-gold-s-center {
  position: relative;
  min-height: 1px;
  width: 38.19660113%;
  margin: 0 auto;
}
.col-gold-l-center {
  position: relative;
  min-height: 1px;
  width: 61.80339887%;
  margin: 0 auto;
}
.golden-frame {
  width: 211.8px;
  height: 130.89959881722774px;
  border-width: 3px;
  border-style: solid;
  border-color: #adadad;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  /*
        white-space: nowrap;
    */
  overflow: hidden;
  text-overflow: ellipsis;
}
.golden-frame:hover,
.golden-frame:focus,
.golden-frame:active,
.golden-frame.active {
  width: 211.8px;
  height: 130.89959881722774px;
  border-width: 3px;
  border-style: solid;
  border-color: #333333;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
@media screen and (max-width: 768px) {
  .col-gold-xs-full {
    width: 100% !important;
    padding: 0 10px !important;
  }
}
/*-------------------------------*\
            margin
\*-------------------------------*/
/*--------------------*\
    MARGIN
\*--------------------*/
.m-0 {
  margin: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.m-xxs {
  margin: 4.55px !important;
}
.mt-xxs {
  margin-top: 4.55px !important;
}
.mr-xxs {
  margin-right: 4.55px !important;
}
.mb-xxs {
  margin-bottom: 4.55px !important;
}
.ml-xxs {
  margin-left: 4.55px !important;
}
.m-xs {
  margin: 7.3px !important;
}
.mt-xs {
  margin-top: 7.3px !important;
}
.mr-xs {
  margin-right: 7.3px !important;
}
.mb-xs {
  margin-bottom: 7.3px !important;
}
.ml-xs {
  margin-left: 7.3px !important;
}
.m-s {
  margin: 11.8px !important;
}
.mt-s {
  margin-top: 11.8px !important;
}
.mr-s {
  margin-right: 11.8px !important;
}
.mb-s {
  margin-bottom: 11.8px !important;
}
.ml-s {
  margin-left: 11.8px !important;
}
.m-m {
  margin: 19.1px !important;
}
.mt-m {
  margin-top: 19.1px !important;
}
.mr-m {
  margin-right: 19.1px !important;
}
.mb-m {
  margin-bottom: 19.1px !important;
}
.ml-m {
  margin-left: 19.1px !important;
}
.m-l {
  margin: 30.1px !important;
}
.mt-l {
  margin-top: 30.1px !important;
}
.mr-l {
  margin-right: 30.1px !important;
}
.mb-l {
  margin-bottom: 30.1px !important;
}
.ml-l {
  margin-left: 30.1px !important;
}
.m-xl {
  margin: 50px !important;
}
.mt-xl {
  margin-top: 50px !important;
}
.mr-xl {
  margin-right: 50px !important;
}
.mb-xl {
  margin-bottom: 50px !important;
}
.ml-xl {
  margin-left: 50px !important;
}
.m-xxl {
  margin: 80.9px !important;
}
.mt-xxl {
  margin-top: 80.9px !important;
}
.mr-xxl {
  margin-right: 80.9px !important;
}
.mb-xxl {
  margin-bottom: 80.9px !important;
}
.ml-xxl {
  margin-left: 80.9px !important;
}
.m-xxxl {
  margin: 130.9px !important;
}
.mt-xxxl {
  margin-top: 130.9px !important;
}
.mr-xxxl {
  margin-right: 130.9px !important;
}
.mb-xxxl {
  margin-bottom: 130.9px !important;
}
.ml-xxxl {
  margin-left: 130.9px !important;
}
.m-xxxxl {
  margin: 211.8px !important;
}
.mt-xxxxl {
  margin-top: 211.8px !important;
}
.mr-xxxxl {
  margin-right: 211.8px !important;
}
.mb-xxxxl {
  margin-bottom: 211.8px !important;
}
.ml-xxxxl {
  margin-left: 211.8px !important;
}
/*-------------------------------*\
            padding
\*-------------------------------*/
.p-0 {
  padding: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.p-xxs {
  padding: 4.55px !important;
}
.pt-xxs {
  padding-top: 4.55px !important;
}
.pr-xxs {
  padding-right: 4.55px !important;
}
.pb-xxs {
  padding-bottom: 4.55px !important;
}
.pl-xxs {
  padding-left: 4.55px !important;
}
.p-xs {
  padding: 7.3px !important;
}
.pt-xs {
  padding-top: 7.3px !important;
}
.pr-xs {
  padding-right: 7.3px !important;
}
.pb-xs {
  padding-bottom: 7.3px !important;
}
.pl-xs {
  padding-left: 7.3px !important;
}
.p-s {
  padding: 11.8px !important;
}
.pt-s {
  padding-top: 11.8px !important;
}
.pr-s {
  padding-right: 11.8px !important;
}
.pb-s {
  padding-bottom: 11.8px !important;
}
.pl-s {
  padding-left: 11.8px !important;
}
.p-m {
  padding: 19.1px !important;
}
.pt-m {
  padding-top: 19.1px !important;
}
.pr-m {
  padding-right: 19.1px !important;
}
.pb-m {
  padding-bottom: 19.1px !important;
}
.pl-m {
  padding-left: 19.1px !important;
}
.p-l {
  padding: 30.1px !important;
}
.pt-l {
  padding-top: 30.1px !important;
}
.pr-l {
  padding-right: 30.1px !important;
}
.pb-l {
  padding-bottom: 30.1px !important;
}
.pl-l {
  padding-left: 30.1px !important;
}
.p-xl {
  padding: 50px !important;
}
.pt-xl {
  padding-top: 50px !important;
}
.pr-xl {
  padding-right: 50px !important;
}
.pb-xl {
  padding-bottom: 50px !important;
}
.pl-xl {
  padding-left: 50px !important;
}
.p-xxl {
  padding: 80.9px !important;
}
.pt-xxl {
  padding-top: 80.9px !important;
}
.pr-xxl {
  padding-right: 80.9px !important;
}
.pb-xxl {
  padding-bottom: 80.9px !important;
}
.pl-xxl {
  padding-left: 80.9px !important;
}
.p-xxxl {
  padding: 130.9px !important;
}
.pt-xxxl {
  padding-top: 130.9px !important;
}
.pr-xxxl {
  padding-right: 130.9px !important;
}
.pb-xxxl {
  padding-bottom: 130.9px !important;
}
.pl-xxxl {
  padding-left: 130.9px !important;
}
.p-xxxxl {
  padding: 211.8px !important;
}
.pt-xxxxl {
  padding-top: 211.8px !important;
}
.pr-xxxxl {
  padding-right: 211.8px !important;
}
.pb-xxxxl {
  padding-bottom: 211.8px !important;
}
.pl-xxxxl {
  padding-left: 211.8px !important;
}
/*-------------------------------*\
            form
\*-------------------------------*/
/*------------------------*\
        FORM ELEMENT
\*------------------------*/
.form-type {
  font-family: 'robotoregular';
  font-size: 16px;
  letter-spacing: 0.05em;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  margin: 0;
  padding: 10px 11.8px;
  height: 50px;
  line-height: 50px;
  font-family: 'robotoregular';
  font-size: 16px;
  letter-spacing: 0.05em;
  background-image: none;
  background-color: transparent;
  border-width: 2px;
  border-radius: 1px;
  border-style: solid;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
/*-------------------*\
        RENDER
\*-------------------*/
#form-create-user h1 {
  color: #086cc4;
  opacity: .9;
}
#form-create-user .ipt-default,
#form-create-user .ipt-default-ico {
  display: block;
  position: relative;
  margin: 1.618em 0 0 0;
}
#form-create-user .ipt-default-ico input {
  padding-left: 61px;
}
#form-create-user .ipt-default-ico i {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.6em;
  text-align: center;
  border-radius: 0.1rem 0 0 0.1rem;
  background: #c1c1c1;
  color: #fff;
  cursor: default;
}
#form-create-user input {
  position: relative;
  width: 100%;
  padding-left: 19px;
  height: 50px;
  line-height: 50px;
  font-family: 'robotoregular';
  font-size: 16px;
  letter-spacing: 0.05em;
  border: 2px solid #c1c1c1;
  border-radius: 0.1rem;
  background-color: transparent;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
#form-create-user textarea {
  width: 100%;
  resize: vertical;
  padding: 11px 19px;
  border: 2px solid #c1c1c1;
  border-radius: 0.1rem;
  background-color: transparent;
  font-family: 'robotoregular';
  font-size: 16px;
  letter-spacing: 0.05em;
}
#form-create-user button {
  position: relative;
  height: 50px;
  /*line-height: 47px;*/
  margin: 1.618em 0 0 0;
  color: white;
  text-transform: uppercase;
  font-family: 'robotoregular';
  font-size: 16px;
  letter-spacing: 0.05em;
  background-color: #086cc4;
  border: 2px solid #086cc4;
  border-radius: 0.1rem;
  opacity: .8;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
#form-create-user button:hover,
#form-create-user button:focus,
#form-create-user button:active {
  opacity: 1;
}
#form-create-user .btn-add {
  position: relative;
  height: 50px;
  margin: 1.618em 0 0 0;
  padding: 0 19px;
  color: #086cc4;
  font-family: 'robotoregular';
  font-size: 16px;
  letter-spacing: 0.05em;
  background-color: transparent;
  border: 2px solid #086cc4;
  border-radius: 0.1rem;
  opacity: .8;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
#form-create-user .btn-add:hover,
#form-create-user .btn-add:focus,
#form-create-user .btn-add:active {
  opacity: 1;
  color: white;
  background-color: #086cc4;
  border: 2px solid #086cc4;
}
.btn-render {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 11.8px 30.1px;
  height: 50px;
  text-align: center;
  font-family: 'robotoregular';
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-width: 2px;
  border-radius: 1px;
  border-style: solid;
  background-image: none;
  cursor: pointer;
  opacity: .4;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
/*-----------------*\
        SPRAY
\*-----------------*/
.ipt-default-ico {
  border-color: #c1c1c1;
  color: #acacac;
  opacity: 1;
}
.ipt-default-ico:hover,
.ipt-default-ico:focus,
.ipt-default-ico:active .ipt-default-ico.active {
  border-color: #c6c6c6;
  color: #939393;
  opacity: 1;
}
.ipt-default {
  border-color: #dfdfdf;
  color: #acacac;
  opacity: 1;
}
.ipt-default:hover,
.ipt-default:focus,
.ipt-default:active .ipt-default.active {
  border-color: #c6c6c6;
  color: #939393;
  opacity: 1;
}
.ipt-inverse {
  border-color: #ffffff;
  color: #ffffff;
  opacity: 0.7;
}
.ipt-inverse:hover,
.ipt-inverse:focus,
.ipt-inverse:active .ipt-inverse.active {
  border-color: #ffffff;
  color: #ffffff;
  opacity: 1;
}
.btn-blue {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 11.8px 30.1px;
  height: 50px;
  text-align: center;
  font-family: 'robotoregular';
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-width: 2px;
  border-radius: 1px;
  border-style: solid;
  background-image: none;
  cursor: pointer;
  opacity: .4;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  border-color: #00407a;
  background-color: #00407a;
  color: white;
  opacity: 1;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
  border-color: #0065bd;
  background-color: #0065bd;
  color: white;
  opacity: 1;
}
.btn-blue.active {
  border-color: #63a4dd;
  background-color: #63a4dd;
  color: white;
  opacity: 1;
}
.btn-green {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 11.8px 30.1px;
  height: 50px;
  text-align: center;
  font-family: 'robotoregular';
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-width: 2px;
  border-radius: 1px;
  border-style: solid;
  background-image: none;
  cursor: pointer;
  opacity: .4;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  border-color: #009a60;
  background-color: #009a60;
  color: white;
  opacity: 1;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active {
  border-color: #00c27b;
  background-color: #00c27b;
  color: white;
  opacity: 1;
}
.btn-white {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 11.8px 30.1px;
  height: 50px;
  text-align: center;
  font-family: 'robotoregular';
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-width: 2px;
  border-radius: 1px;
  border-style: solid;
  background-image: none;
  cursor: pointer;
  opacity: .4;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  border-color: #ffffff;
  background-color: transparent;
  color: #ffffff;
  opacity: 0.75;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active {
  border-color: white;
  background-color: transparent;
  color: white;
  opacity: 1;
}
.btn-connexion {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 11.8px 30.1px;
  height: 50px;
  text-align: center;
  font-family: 'robotoregular';
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-width: 2px;
  border-radius: 1px;
  border-style: solid;
  background-image: none;
  cursor: pointer;
  opacity: .4;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  border-color: white;
  background-color: transparent;
  color: white;
  opacity: 0.4;
}
.btn-connexion:hover,
.btn-connexion:focus,
.btn-connexion:active,
.btn-connexion.active {
  border-color: white;
  background-color: transparent;
  color: white;
  opacity: 0.75;
}
/*-------------------------------*\
            header
\*-------------------------------*/
/*----------------------------*\
    BS
\*----------------------------*/
.list-inline {
  padding-left: 0px;
  margin-left: -5px;
  list-style: outside none none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 0px;
  padding-left: 0px;
}
.list-inline > li .btn-group {
  line-height: 2.61803;
  vertical-align: inherit;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.text-center {
  text-align: center;
}
.dropdown-menu-right {
  right: 0px;
  left: auto;
}
.dropdown-menu {
  display: none;
  float: left;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 100%;
  min-width: 160px;
  font-size: 14px;
  text-align: left;
  list-style: outside none none;
  border-radius: 0px;
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.176);
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #FFF;
  background-clip: padding-box;
  z-index: 1000;
}
.dropdown-menu .divider {
  padding: 0;
  margin: 0;
}
.dropdown-menu li > a {
  display: block;
  padding: 12px 50px;
  clear: both;
  font-weight: 300;
  font-size: 16px;
  color: #333;
  white-space: nowrap;
  text-decoration: none !important;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #F5F5F5;
}
.username {
  border: 2px solid #fff;
  padding: 0 19.1px;
  color: #ffffff;
  cursor: pointer;
}
.username span {
  font-size: 16px;
  max-height: 211px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
header {
  display: block;
  padding: 0 19.1px 0 0;
  font-size: 16px;
  font-family: robotolight;
  background-color: #086CC3;
  height: 80.9px;
  line-height: 80.9px;
}
header > ul {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 80.9px;
  max-height: 80.9px;
  height: 80.9px;
}
header > ul > li {
  line-height: 80.9px;
  margin: 0;
  color: #fff;
}
header ul li {
  cursor: pointer;
}
header .i-newspaper-o,
header .i-bell-o,
header .i-th,
header .i-cog {
  display: inline-block;
  line-height: 80px;
  padding: 0 10px;
  cursor: pointer;
}
header > ul > li > a {
  color: #fff;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  opacity: .6;
}
.lg:hover:not(.btn-connexion),
.lg:focus:not(.btn-connexion),
.lg:active:not(.btn-connexion),
.lg.active:not(.btn-connexion) {
  opacity: .9;
}
header > ul > li > a:hover:not(.btn-connexion),
header > ul > li > a:focus:not(.btn-connexion),
header > ul > li > a:active:not(.btn-connexion),
header > ul > li > a.active:not(.btn-connexion) {
  text-decoration: underline;
  color: #fff;
}
header > ul > li:hover,
header > ul > li:focus,
header > ul > li:active,
header > ul > li.active {
  color: #fff;
}
header > ul .univers {
  line-height: 82px;
}
header > ul .univers,
header > ul [class^="collapse-"],
header > ul li .btn-group {
  font-size: 20px;
}
header > ul > [class^="collapse-"] {
  opacity: .7;
}
header ul [class^="collapse-"]:hover,
header ul [class^="collapse-"]:focus,
header ul [class^="collapse-"]:active,
header ul [class^="collapse-"].active {
  opacity: 1;
}
.opasens:hover,
.opasens:focus,
.opasens:active,
.opasens.active {
  opacity: 1;
}
.opasens {
  opacity: .8;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
/*----------------------------*\
    LOGOS
\*----------------------------*/
.logo-groups {
  line-height: 80px;
  height: 80px;
  max-height: 80px;
  margin: 0 auto;
}
.logo-groups [class^="i-"],
.logo-groups [class^="app-"] {
  font-size: 51px;
  line-height: 80px;
}
.logo-client {
  position: relative;
  line-height: 80px;
  margin: 0 auto;
}
.logo-client #client {
  vertical-align: middle;
}
.logo-client .bg-client-content,
.logo-client .bg-client-border-left,
.logo-client .bg-client-border-right {
  float: left;
  display: block;
}
.logo-client .bg-client-content {
  height: 80.9px;
  padding: 0 0 0 19.1px;
  background-color: #383838;
}
.logo-client .bg-client-border-left {
  width: 0;
  height: 0;
  margin-right: -40px;
  border-style: solid;
  border-width: 80.9px 0 0 80.9px;
  border-color: transparent transparent transparent #383838;
}
.logo-client .bg-client-border-right {
  width: 0;
  height: 0;
  margin-left: -40px;
  margin-right: -28px;
  border-style: solid;
  border-width: 80.9px 80.9px 0 0;
  border-color: #383838 transparent transparent;
}
/*-------------------------------*\
            footer
\*-------------------------------*/
/*-------------------------------*\
        override Bootstrap
\*-------------------------------*/
a,
a:hover,
a:focus,
a:active,
a.active {
  text-decoration: none;
}
a:focus {
  outline: none !important;
  outline-offset: 0 !important;
}
p {
  margin: 0px 0px 11.8px;
}
ul,
li {
  list-style: none;
}
.btn,
.btn-group,
.form-control,
.btn-upload {
  border-radius: 1px;
}
.btn,
.btn-upload {
  padding: 14px 12px;
  color: #999;
  /* transition */
  -webkit-transition: all 0.4s ease;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.4s ease;
  /* Firefox 4-15 */
  -o-transition: all 0.4s ease;
  /* Opera 10.5-12.00 */
  transition: all 0.4s ease;
  /* Firefox 16+, Opera 12.50+ */
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  color: #222;
  border: 1px solid #adadad;
  background-color: transparent;
}
.btn-success {
  border-color: #5CB85C;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #F8FFF1;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #E4FDDA;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #EDEDED;
}
.modal-content {
  border-radius: 0px;
}
.panel-heading {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.panel-group .panel {
  border-radius: 0;
}
.panel-default {
  border-color: #ddd;
}
.panel-group .panel + .panel {
  margin-top: -1px;
}
