@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
.wide {
  width: 100%;
  padding: 0;
  margin: 0;
}
.pw-tab-folder a:before {
  content: "\f114";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.pw-tab-folder.active a:before {
  content: "\f115";
}
.header-gradient {
  background: -moz-linear-gradient(90deg, #0056a1 0%, #0065bd 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, 90deg, color-stop(0%, #0056a1), color-stop(100%, #0065bd));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(90deg, #0056a1 0%, #0065bd 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(90deg, #0056a1 0%, #0065bd 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(90deg, #0056a1 0%, #0065bd 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0056a1', endColorstr='#0065bd', GradientType='0');
  /* for IE */
  background: linear-gradient(0deg, #0056a1 0%, #0065bd 100%);
  /* W3C */
}
body {
  font-size: 12px;
}
.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.col-gold-s {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 16px;
  padding-right: 16px;
  width: 38.19660113%;
}
.col-gold-l {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 16px;
  padding-right: 16px;
  width: 61.80339887%;
}
.col-gold-offset-s {
  margin-left: 38.19660113%;
}
.col-gold-offset-l {
  margin-left: 61.80339887%;
}
#info-header {
  height: 32px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 52px;
}
#info-header ul {
  margin: 0;
  padding: 0;
  line-height: 32px;
}
#sidenav ul ul {
  display: none;
}
#sidenav li.active ul {
  display: block;
}
table thead tr th .pw-btn-group-th,
table tr th .pw-btn-group-th,
.pw-btn-group-th {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-align: center;
}
table thead tr th .pw-btn-group-th .pw-btn-th,
table tr th .pw-btn-group-th .pw-btn-th,
.pw-btn-group-th .pw-btn-th {
  margin: 0;
  float: left;
  position: relative;
  background-color: transparent;
  border: 0;
  color: #505050;
  border-radius: 0px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857;
  padding: 5px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
