@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
.wide {
  width: 100%;
  padding: 0;
  margin: 0;
}
.header-gradient {
  background: -moz-linear-gradient(90deg, #0056a1 0%, #0065bd 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, 90deg, color-stop(0%, #0056a1), color-stop(100%, #0065bd));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(90deg, #0056a1 0%, #0065bd 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(90deg, #0056a1 0%, #0065bd 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(90deg, #0056a1 0%, #0065bd 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0056a1', endColorstr='#0065bd', GradientType='0');
  /* for IE */
  background: linear-gradient(0deg, #0056a1 0%, #0065bd 100%);
  /* W3C */
}
body {
  font-size: 12px;
}
.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.col-gold-s {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 16px;
  padding-right: 16px;
  width: 38.19660113%;
}
.col-gold-l {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 16px;
  padding-right: 16px;
  width: 61.80339887%;
}
.col-gold-offset-s {
  margin-left: 38.19660113%;
}
.col-gold-offset-l {
  margin-left: 61.80339887%;
}
.m-0 {
  margin: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mr-xs {
  margin-right: 8px !important;
}
.mb-xs {
  margin-bottom: 8px !important;
}
.ml-xs {
  margin-left: 8px !important;
}
.mt-xs {
  margin-top: 8px !important;
}
.mt-s {
  margin-top: 12px !important;
}
.mr-s {
  margin-right: 12px !important;
}
.mb-s {
  margin-bottom: 12px !important;
}
.ml-s {
  margin-left: 12px !important;
}
.mt-m {
  margin-top: 20px !important;
}
.mr-m {
  margin-right: 20px !important;
}
.mb-m {
  margin-bottom: 20px !important;
}
.ml-m {
  margin-left: 20px !important;
}
.mt-l {
  margin-top: 32px !important;
}
.mr-l {
  margin-right: 32px !important;
}
.mb-l {
  margin-bottom: 32px !important;
}
.ml-l {
  margin-left: 32px !important;
}
.mt-xl {
  margin-top: 52px !important;
}
.mr-xl {
  margin-right: 52px !important;
}
.mb-xl {
  margin-bottom: 52px !important;
}
.ml-xl {
  margin-left: 52px !important;
}
.mt-xxl {
  margin-top: 85px !important;
}
.mr-xxl {
  margin-right: 85px !important;
}
.mb-xxl {
  margin-bottom: 85px !important;
}
.ml-xxl {
  margin-left: 85px !important;
}
.m-s {
  margin: 12px !important;
}
.m-m {
  margin: 20px !important;
}
.m-l {
  margin: 32px !important;
}
.m-xl {
  margin: 52px !important;
}
.m-xxl {
  margin: 85px !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pt-s {
  padding-top: 12px !important;
}
.pr-s {
  padding-right: 12px !important;
}
.pb-s {
  padding-bottom: 12px !important;
}
.pl-s {
  padding-left: 12px !important;
}
.pt-m {
  padding-top: 20px !important;
}
.pr-m {
  padding-right: 20px !important;
}
.pb-m {
  padding-bottom: 20px !important;
}
.pl-m {
  padding-left: 20px !important;
}
.pt-l {
  padding-top: 32px !important;
}
.pr-l {
  padding-right: 32px !important;
}
.pb-l {
  padding-bottom: 32px !important;
}
.pl-l {
  padding-left: 32px !important;
}
.pt-xl {
  padding-top: 52px !important;
}
.pr-xl {
  padding-right: 52px !important;
}
.pb-xl {
  padding-bottom: 52px !important;
}
.pl-xl {
  padding-left: 52px !important;
}
.pt-xxl {
  padding-top: 85px !important;
}
.pr-xxl {
  padding-right: 85px !important;
}
.pb-xxl {
  padding-bottom: 85px !important;
}
.pl-xxl {
  padding-left: 85px !important;
}
.p-s {
  padding: 12px !important;
}
.p-m {
  padding: 20px !important;
}
.p-l {
  padding: 32px !important;
}
.p-xl {
  padding: 52px !important;
}
.p-xxl {
  padding: 85px !important;
}
.ptb-0 {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.ptb-s {
  padding-bottom: 12px !important;
  padding-top: 12px !important;
}
.ptb-m {
  padding-bottom: 20px !important;
  padding-top: 20px !important;
}
.ptb-l {
  padding-bottom: 32px !important;
  padding-top: 32px !important;
}
.ptb-xl {
  padding-bottom: 52px !important;
  padding-top: 52px !important;
}
.ptb-xxl {
  padding-bottom: 85px !important;
  padding-top: 85px !important;
}
.prl-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.prl-s {
  padding-left: 12px !important;
  padding-right: 12px !important;
}
.prl-m {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.prl-l {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
.prl-xl {
  padding-left: 52px !important;
  padding-right: 52px !important;
}
.prl-xxl {
  padding-left: 85px !important;
  padding-right: 85px !important;
}
#info-header {
  height: 32px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 52px;
}
#info-header ul {
  margin: 0;
  padding: 0;
  line-height: 32px;
}
#sidenav ul ul {
  display: none;
}
#sidenav li.active ul {
  display: block;
}
table thead tr th .pw-btn-group-th,
table tr th .pw-btn-group-th,
.pw-btn-group-th {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-align: center;
}
table thead tr th .pw-btn-group-th .pw-btn-th,
table tr th .pw-btn-group-th .pw-btn-th,
.pw-btn-group-th .pw-btn-th {
  margin: 0;
  float: left;
  position: relative;
  background-color: transparent;
  border: 0;
  color: #505050;
  border-radius: 0px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857;
  padding: 5px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
