/********************************************
                SIDENAV
********************************************/
#sidenav {
    padding: 0;
    ul {
        padding: 0;
    }
}

#upload { margin-top: 30.1px !important; }
#upload a,
li.level1 > a {
    font-size: 14px;
    /* transition */
    -webkit-transition: all 0.4s ease;/* Safari 3.2+, Chrome */
       -moz-transition: all 0.4s ease;/* Firefox 4-15 */
         -o-transition: all 0.4s ease;/* Opera 10.5-12.00 */
            transition: all 0.4s ease;/* Firefox 16+, Opera 12.50+ */
}
#upload a,
li[class^="level"] > a {
    display: block;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
#upload a,
li.level1 > a {
    padding: 15px 0px 15px 19px;
    background-color: @gs-blue;
    color: #FFF;
}
#upload:hover > a,
#upload:focus > a,
#upload:active > a,
li.level1:hover > a,
li.level1:focus > a,
li.level1:active > a {
    background-color: @gs-lt-blue;
}
#upload:active > a,
li.level1:active > a,
#upload.active > a,
li.level1.active > a {
    background-color: @gs-xlt-blue;
}
li.level2 > a {
    padding: 9px 0px 9px 30px;
    background-color: #f2f2f2;
    color: #606060;
}
li.level2 > a,
li.level3 > a {
    -webkit-transition: all 0.1s ease;/* Safari 3.2+, Chrome */
       -moz-transition: all 0.1s ease;/* Firefox 4-15 */
         -o-transition: all 0.1 ease;/* Opera 10.5-12.00 */
            transition: all 0.1s ease;/* Firefox 16+, Opera 12.50+ */
}
li.level2:hover > a,
li.level2:focus > a,
li.level3:hover > a,
li.level3:focus > a {
    border-left: 3px solid @gs-blue;
    color: @gs-blue;
}
li.level2:active > a,
li.level2.active > a,
li.level3:active > a,
li.level3.active > a {
    border-left: 3px solid @gs-lt-blue;
    color: @gs-blue;
}
li.level3 > a {
    padding: 0 0 0 50px;
    line-height: 25px;
    font-size: 12px;
    background-color: transparent;
    color: #777;
}

li.level1 > a,
li.level2 > a {
    font-size: 14px;
}

#root:before {
    font-family: FontAwesome;
    content: "\f015\00a0\00a0";
}
#upload a:before {
    font-family: FontAwesome;
    content: "\f019\00a0\00a0";
}

@media (max-width:768px) {
    li.level3 > a {
        padding: 9px 0px 9px 50px;
    }
}

