//////////////////////////////////////////////////////////////////////////////
// TYPE

@font-size-base:            16px;
@font-size-s:               @font-size-base * 0.8;
@font-size-m:               @font-size-base;
@font-size-l:               @font-size-base * 1.25;
@font-size-xl:              @font-size-base * 1.618;

@font-base:                 normal @font-size-base robotoregular;
@line-height-base:          1.6;
@text-white-shadow:         0 1px 1px rgba(255,255,255,1);
@icon-large-white-shadow:   0 3px 1px rgba(255,255,255,1);

//////////////////////////////////////////////////////////////////////////////
// Grid
@gutter-width:          32px;
@wrapper-padding:       15px;

//////////////////////////////////////////////////      COLORS
// analog triad 30° base on #0064bb             /http://colorschemedesigner.com
////////////////////////////////////////////////
// xlt : active class
// lt base : hover class
// color : inactive class

@gs-xlt-blue:       #63a4dd;
@gs-lt-blue:        #378fdd;
@gs-blue:           hsl(208,100%,37%);
@gs-dk-blue:        #00407a;
@gs-lt-green:       #00fd9e;
@gs-green:          #00c078;
@gs-dk-green:       #009a60;
@gs-lt-indigo:      #0a00fe;
@gs-indigo:         #0700c5;
@gs-dk-indigo:      #06009f;
@gs-viola:          #8806B8;
@gs-darkpink:       #AE0179;

@input-border-color:            lighten(#000, 80%);
@input-border-color-focus:      lighten(#000, 16.1%);
@input-border-color:            lighten(#000, 6%); // ccc
@btn-default-border-color:      lighten(#000, 8%);
@btn-default-border-color-focus:lighten(#000, 13.5%);

.bg-xlt-blue        { background-color: @gs-xlt-blue; }
.bg-lt-blue         { background-color: @gs-lt-blue; }
.bg-blue            { background-color: @gs-blue; }
.bg-dk-blue         { background-color: @gs-dk-blue; }
.bg-lt-green        { background-color: @gs-lt-green; }
.bg-green           { background-color: @gs-green; }
.bg-dk-green        { background-color: @gs-dk-green; }
.bg-lt-indigo       { background-color: @gs-lt-indigo; }
.bg-indigo          { background-color: @gs-indigo; }
.bg-dk-indigo       { background-color: @gs-dk-indigo; }
.bg-viola           { background-color: @gs-viola; }
.bg-dk-pink         { background-color: @gs-darkpink; }

.green-light,
.isNew {
    color:           @gs-lt-green;
}

/////////////////////////////////////////////////////////
// spin color
@color-1: #27258e;
@color-2: #5c2ba6;
@color-3: #8a2ba6;
@color-4: #a62b94;
@color-5: #a62b65;
@color-6: #a62b37;
@color-7: #a64d2b;
@color-8: #a67b2b;
@color-9: #a3a62b;
@color-10: #75a62b;
@color-11: #47a62b;
@color-12: #2ba63d;
@color-13: #2ba66c;
@color-14: #2ba69a;
@color-15: #2b84a6;
@color-16: #2b56a6;

//////////////////////////////////////////////////////////////////////////////
// Margin - Padding                                                             SEQUENCE GR BASED ON 50
// 2.8  4.5  7.3  11.8  19.1  30.1  50  80.9  130.9  211.8  342.7


@xxs:       4.55px;
@xs:        7.3px;
@s:         11.8px;
@m:         19.1px;
@l:         30.1px;
@xl:        50px;
@xxl:       80.9px;
@xxxl:      130.9px;
@xxxxl:     211.8px;
// 342.7
// 554.5


//////////////////////////////////////////////////////////////////////////////
// TYPE SIZE
@xs-font-size:  10px;
@s-font-size:   11px;
@m-font-size:   12px;
@l-font-size:   14px;
@xl-font-size:  16px;

//////////////////////////////////////////////////////////////////////////////
// MISCELLANEOUS
@text-shadow: 0 1px 1px rgba(255,255,255,1);
@box-shadow:  0 1px 2px rgba(0,0,0,0.3);


.center {
    text-align: center !important;
}
i.fa, li {
    cursor: pointer;
}
.hide {
    display: none;
}


