@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
/* @author  :   Group S */
/* @date    :   2014-09 */
/* @version :   BETA 0.2 */
.bg-xlt-blue {
  background-color: #63a4dd;
}
.bg-lt-blue {
  background-color: #378fdd;
}
.bg-blue {
  background-color: #0064bb;
}
.bg-dk-blue {
  background-color: #00407a;
}
.bg-lt-green {
  background-color: #00fd9e;
}
.bg-green {
  background-color: #00c078;
}
.bg-dk-green {
  background-color: #009a60;
}
.bg-lt-indigo {
  background-color: #0a00fe;
}
.bg-indigo {
  background-color: #0700c5;
}
.bg-dk-indigo {
  background-color: #06009f;
}
.bg-viola {
  background-color: #8806b8;
}
.bg-dk-pink {
  background-color: #ae0179;
}
.green-light,
.isNew {
  color: #00fd9e;
}
/*
    #0064bb
    #0700c5
    #3003A1
    #8806B8
    #AE0179
    #0064bb
    */
.header-gradient,
.gs-head-gradient {
  background: -moz-linear-gradient(90deg, #0056a1 0%, #0065bd 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, 90deg, color-stop(0%, #0056a1), color-stop(100%, #0065bd));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(90deg, #0056a1 0%, #0065bd 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(90deg, #0056a1 0%, #0065bd 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(90deg, #0056a1 0%, #0065bd 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0056a1', endColorstr='#0065bd', GradientType='0');
  /* for IE */
  background: linear-gradient(0deg, #0056a1 0%, #0065bd 100%);
  /* W3C */
}
.center {
  text-align: center !important;
}
i.fa,
li {
  cursor: pointer;
}
.fa,
.glyphicon {
  font-size: 18px !important;
}
.hide {
  display: none;
}
body {
  font-size: 12px;
}
/*
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 300;
}*/
.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.wide {
  width: 100%;
}
.col-centered,
.col-center {
  float: none;
  margin: 0 auto;
}
.col-gold-s {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 16px;
  padding-right: 16px;
  width: 38.19660113%;
}
.col-gold-l {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 16px;
  padding-right: 16px;
  width: 61.80339887%;
}
.col-gold-offset-s {
  margin-left: 38.19660113%;
}
.col-gold-offset-l {
  margin-left: 61.80339887%;
}
.m-0 {
  margin: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mr-xs {
  margin-right: 7.3px !important;
}
.mb-xs {
  margin-bottom: 7.3px !important;
}
.ml-xs {
  margin-left: 7.3px !important;
}
.mt-xs {
  margin-top: 7.3px !important;
}
.mt-s {
  margin-top: 11.8px !important;
}
.mr-s {
  margin-right: 11.8px !important;
}
.mb-s {
  margin-bottom: 11.8px !important;
}
.ml-s {
  margin-left: 11.8px !important;
}
.mt-m {
  margin-top: 19.1px !important;
}
.mr-m {
  margin-right: 19.1px !important;
}
.mb-m {
  margin-bottom: 19.1px !important;
}
.ml-m {
  margin-left: 19.1px !important;
}
.mt-l {
  margin-top: 30.1px !important;
}
.mr-l {
  margin-right: 30.1px !important;
}
.mb-l {
  margin-bottom: 30.1px !important;
}
.ml-l {
  margin-left: 30.1px !important;
}
.mt-xl {
  margin-top: 50px !important;
}
.mr-xl {
  margin-right: 50px !important;
}
.mb-xl {
  margin-bottom: 50px !important;
}
.ml-xl {
  margin-left: 50px !important;
}
.mt-xxl {
  margin-top: 80.9px !important;
}
.mr-xxl {
  margin-right: 80.9px !important;
}
.mb-xxl {
  margin-bottom: 80.9px !important;
}
.ml-xxl {
  margin-left: 80.9px !important;
}
.m-s {
  margin: 11.8px !important;
}
.m-m {
  margin: 19.1px !important;
}
.m-l {
  margin: 30.1px !important;
}
.m-xl {
  margin: 50px !important;
}
.m-xxl {
  margin: 80.9px !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pt-s {
  padding-top: 11.8px !important;
}
.pr-s {
  padding-right: 11.8px !important;
}
.pb-s {
  padding-bottom: 11.8px !important;
}
.pl-s {
  padding-left: 11.8px !important;
}
.pt-m {
  padding-top: 19.1px !important;
}
.pr-m {
  padding-right: 19.1px !important;
}
.pb-m {
  padding-bottom: 19.1px !important;
}
.pl-m {
  padding-left: 19.1px !important;
}
.pt-l {
  padding-top: 30.1px !important;
}
.pr-l {
  padding-right: 30.1px !important;
}
.pb-l {
  padding-bottom: 30.1px !important;
}
.pl-l {
  padding-left: 30.1px !important;
}
.pt-xl {
  padding-top: 50px !important;
}
.pr-xl {
  padding-right: 50px !important;
}
.pb-xl {
  padding-bottom: 50px !important;
}
.pl-xl {
  padding-left: 50px !important;
}
.pt-xxl {
  padding-top: 80.9px !important;
}
.pr-xxl {
  padding-right: 80.9px !important;
}
.pb-xxl {
  padding-bottom: 80.9px !important;
}
.pl-xxl {
  padding-left: 80.9px !important;
}
.p-s {
  padding: 11.8px !important;
}
.p-m {
  padding: 19.1px !important;
}
.p-l {
  padding: 30.1px !important;
}
.p-xl {
  padding: 50px !important;
}
.p-xxl {
  padding: 80.9px !important;
}
.ptb-0 {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.ptb-s {
  padding-bottom: 11.8px !important;
  padding-top: 11.8px !important;
}
.ptb-m {
  padding-bottom: 19.1px !important;
  padding-top: 19.1px !important;
}
.ptb-l {
  padding-bottom: 30.1px !important;
  padding-top: 30.1px !important;
}
.ptb-xl {
  padding-bottom: 50px !important;
  padding-top: 50px !important;
}
.ptb-xxl {
  padding-bottom: 80.9px !important;
  padding-top: 80.9px !important;
}
.prl-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.prl-s {
  padding-left: 11.8px !important;
  padding-right: 11.8px !important;
}
.prl-m {
  padding-left: 19.1px !important;
  padding-right: 19.1px !important;
}
.prl-l {
  padding-left: 30.1px !important;
  padding-right: 30.1px !important;
}
.prl-xl {
  padding-left: 50px !important;
  padding-right: 50px !important;
}
.prl-xxl {
  padding-left: 80.9px !important;
  padding-right: 80.9px !important;
}
header {
  height: 80.9px;
  /* border-bottom: 1px solid #dddddd; */
  /*margin-bottom: @l;*/
}
header ul {
  margin: 0;
  padding: 0;
}
/********************************************
                SIDENAV
********************************************/
#sidenav {
  padding: 0;
}
#sidenav ul {
  padding: 0;
}
#upload {
  margin-top: 30.1px !important;
}
#upload a,
li.level1 > a {
  font-size: 14px;
  /* transition */
  -webkit-transition: all 0.4s ease;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.4s ease;
  /* Firefox 4-15 */
  -o-transition: all 0.4s ease;
  /* Opera 10.5-12.00 */
  transition: all 0.4s ease;
  /* Firefox 16+, Opera 12.50+ */
}
#upload a,
li[class^="level"] > a {
  display: block;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
#upload a,
li.level1 > a {
  padding: 15px 0px 15px 19px;
  background-color: #0064bb;
  color: #FFF;
}
#upload:hover > a,
#upload:focus > a,
#upload:active > a,
li.level1:hover > a,
li.level1:focus > a,
li.level1:active > a {
  background-color: #378fdd;
}
#upload:active > a,
li.level1:active > a,
#upload.active > a,
li.level1.active > a {
  background-color: #63a4dd;
}
li.level2 > a {
  padding: 9px 0px 9px 30px;
  background-color: #f2f2f2;
  color: #606060;
}
li.level2 > a,
li.level3 > a {
  -webkit-transition: all 0.1s ease;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.1s ease;
  /* Firefox 4-15 */
  -o-transition: all 0.1 ease;
  /* Opera 10.5-12.00 */
  transition: all 0.1s ease;
  /* Firefox 16+, Opera 12.50+ */
}
li.level2:hover > a,
li.level2:focus > a,
li.level3:hover > a,
li.level3:focus > a {
  border-left: 3px solid #0064bb;
  color: #0064bb;
}
li.level2:active > a,
li.level2.active > a,
li.level3:active > a,
li.level3.active > a {
  border-left: 3px solid #378fdd;
  color: #0064bb;
}
li.level3 > a {
  padding: 0 0 0 50px;
  line-height: 25px;
  font-size: 12px;
  background-color: transparent;
  color: #777;
}
li.level1 > a,
li.level2 > a {
  font-size: 14px;
}
@media (max-width: 768px) {
  li.level3 > a {
    padding: 9px 0px 9px 50px;
  }
}
.nav > li > a {
  padding: 7px 15px;
  font-size: 14px;
  margin-right: 6px;
}
.nav .caret {
  border-top-color: #000;
  border-bottom-color: #000;
}
input[type=text] {
  /*    float: left;*/
  padding: 15px 12px;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  color: #999;
  border: 1px solid #ccc;
  /* transition */
  -webkit-transition: all 0.4s ease;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.4s ease;
  /* Firefox 4-15 */
  -o-transition: all 0.4s ease;
  /* Opera 10.5-12.00 */
  transition: all 0.4s ease;
  /* Firefox 16+, Opera 12.50+ */
  opacity: 1;
}
input:hover,
input:focus,
input:active,
input.active {
  color: #222;
  border: 1px solid #adadad;
}
/**********************************************
                  Buttons
*********************************************/
table thead tr th .pw-btn-group-th,
table tr th .pw-btn-group-th,
.pw-btn-group-th {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-align: center;
}
table thead tr th .pw-btn-group-th .pw-btn-th,
table tr th .pw-btn-group-th .pw-btn-th,
.pw-btn-group-th .pw-btn-th {
  margin: 0;
  float: left;
  position: relative;
  background-color: transparent;
  border: 0;
  color: #505050;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857;
  padding: 5px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
/**********************************************
                    BUTTONS
***********************************************/
.btn-portal,
.btn-portal-blue,
.btn-portal-default,
.btn-portal-green {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 15px 30px;
  /* add ... */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* type */
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 14px;
  line-height: 1em;
  /* style */
  background-image: none;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  /* unselectable text */
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  -o-user-select: none;
  user-select: none;
  /* transition */
  -webkit-transition: all 0.4s ease;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.4s ease;
  /* Firefox 4-15 */
  -o-transition: all 0.4s ease;
  /* Opera 10.5-12.00 */
  transition: all 0.4s ease;
  /* Firefox 16+, Opera 12.50+ */
  /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06) inset,
                   0px 0px 8px rgba(102, 175, 233, 0.45); */
}
.btn-portal-default {
  background-color: transparent;
  border-color: #ccc;
  color: #999;
}
.btn-portal-default:hover,
.btn-portal-default:focus,
.btn-portal-default:active,
.btn-portal-default.active {
  border-color: #adadad;
  color: #222;
}
.btn-portal-blue {
  margin-bottom: 1px;
  background-color: #0064bb;
  border-color: #0064bb;
  color: white;
}
.btn-portal-blue:hover,
.btn-portal-blue:focus,
.btn-portal-blue:active {
  background-color: #378fdd;
  border-color: #378fdd;
}
.btn-portal-blue.active {
  background-color: #63a4dd;
  border-color: #63a4dd;
}
.btn-portal-green {
  background-color: #009a60;
  border-color: #009a60;
  color: #FFF;
}
.btn-portal-green:hover,
.btn-portal-green:focus,
.btn-portal-green:active,
.btn-portal-green.active {
  background-color: #00c078;
  border-color: #00c078;
}
/**********************************************
                    DOWNLOAD BUTTON
**********************************************/
.downloadall {
  display: none;
}
.green-light,
.isNew {
  /* background-color:     @green-light;*/
  color: #dff0d8;
}
.noshow {
  display: none;
}
/**********************************************
                    COLORS
***********************************************/
.bg-xlt-blue {
  background-color: #63a4dd;
}
.bg-lt-blue {
  background-color: #378fdd;
}
.bg-blue {
  background-color: #0064bb;
}
.bg-dk-blue {
  background-color: #00407a;
}
.bg-lt-green {
  background-color: #00fd9e;
}
.bg-green {
  background-color: #00c078;
}
.bg-dk-green {
  background-color: #009a60;
}
.bg-lt-indigo {
  background-color: #0a00fe;
}
.bg-indigo {
  background-color: #0700c5;
}
.bg-dk-indigo {
  background-color: #06009f;
}
.bg-viola {
  background-color: #8806b8;
}
.bg-dk-pink {
  background-color: #ae0179;
}
/**********************************************
                    SIDE MENU       #side-menu
***********************************************/
/* position for sliding effect */
#side-menu {
  display: table;
  position: absolute;
  bottom: 0;
  height: 100%;
  background-color: #0064bb;
  color: white;
}
/* head */
.side-menu-head {
  line-height: 50px;
  marin-bottom: 1px;
}
.side-menu-head-icon {
  line-height: 50px;
  marin-bottom: 1px;
}
.side-menu-head-icon:hover,
.side-menu-head-icon:focus,
.side-menu-head-icon:active,
.side-menu-head-icon.active {
  background-color: #2175c0;
}
.side-menu-head,
.side-menu-head-icon {
  margin: 0px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #0064bb;
  color: #bad8f3;
}
.side-menu-head-icon {
  cursor: pointer;
  color: white;
}
.side-menu-head-icon i {
  opacity: .6;
  -webkit-transition: all 0.4s ease;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.4s ease;
  /* Firefox 4-15 */
  -o-transition: all 0.4s ease;
  /* Opera 10.5-12.00 */
  transition: all 0.4s ease;
  /* Firefox 16+, Opera 12.50+ */
}
.side-menu-head-icon:hover i,
.side-menu-head-icon:focus i,
.side-menu-head-icon:active i,
.side-menu-head-icon.active i {
  opacity: 1;
}
/* list */
.side-menu-list {
  margin: 1px 0 0 0;
  padding: 0;
}
.side-menu-list > li.active:before {
  font-size: 14px;
  font-family: 'FontAwesome';
  content: "\f00c\00a0\00a0\00a0";
}
.side-menu-list > li:before {
  font-size: 14px;
  font-family: 'FontAwesome';
}
.side-menu-list > li {
  height: 50px;
  margin-bottom: 1px;
  padding: 15px 0px 15px 30px;
  /* add ...  */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #bad8f3;
  background-color: #0064bb;
  cursor: pointer;
  /* transition */
  -webkit-transition: all 0.4s ease;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.4s ease;
  /* Firefox 4-15 */
  -o-transition: all 0.4s ease;
  /* Opera 10.5-12.00 */
  transition: all 0.4s ease;
  /* Firefox 16+, Opera 12.50+ */
}
.side-menu-list > li:hover,
.side-menu-list > li:focus {
  background-color: #2175c0;
  /* transition */
  -webkit-transition: all 0.4s ease;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.4s ease;
  /* Firefox 4-15 */
  -o-transition: all 0.4s ease;
  /* Opera 10.5-12.00 */
  transition: all 0.4s ease;
  /* Firefox 16+, Opera 12.50+ */
}
.side-menu-list > li.active {
  background-color: #378fdd;
}
/*          INIT CONF            */
#init-conf:before {
  font-family: "FontAwesome";
  content: "\f192\00a0\00a0\00a0";
}
#init-conf {
  border: 0;
  background-color: #2175c0;
}
#init-conf:hover,
#init-conf:focus,
#init-conf:active,
#init-conf.active {
  background-color: #378fdd;
  opacity: 1;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  text-decoration: none;
}
a:focus {
  outline: none !important;
  outline-offset: 0 !important;
}
ul,
li {
  list-style: none;
}
.btn,
.btn-group,
.form-control,
.btn-upload {
  font-family: "Roboto";
  font-weight: 300;
  border-radius: 0 !important;
}
.btn,
.btn-upload {
  padding: 14px 12px;
  color: #999;
  /* transition */
  -webkit-transition: all 0.4s ease;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.4s ease;
  /* Firefox 4-15 */
  -o-transition: all 0.4s ease;
  /* Opera 10.5-12.00 */
  transition: all 0.4s ease;
  /* Firefox 16+, Opera 12.50+ */
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  color: #222;
  border: 1px solid #adadad;
  background-color: transparent;
}
.btn-success {
  border-color: #5CB85C;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #F8FFF1;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #E4FDDA;
}
