//////////////////////////////////////////////////////////////////////////////
// Fonts

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

//////////////////////////////////////////////////////////////////////////////
// Grid
@gutter-width:          32px;

@wrapper-padding:       15px;


//////////////////////////////////////////////////////////////////////////////
// Colors

.header-gradient{
  background: -moz-linear-gradient(90deg, #0056a1 0%, #0065bd 100%);/* FF3.6+ */
  background: -webkit-gradient(linear, 90deg, color-stop(0%, #0056a1), color-stop(100%, #0065bd));/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(90deg, #0056a1 0%, #0065bd 100%);/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(90deg, #0056a1 0%, #0065bd 100%);/* Opera 11.10+ */
  background: -ms-linear-gradient(90deg, #0056a1 0%, #0065bd 100%);/* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0056a1', endColorstr='#0065bd', GradientType='0'); /* for IE */
  background: linear-gradient(0deg, #0056a1 0%, #0065bd 100%);/* W3C */
}


//////////////////////////////////////////////////////////////////////////////
// Header
@header-height:         32px;



//////////////////////////////////////////////////////////////////////////////
// Margin - Padding

@xxs:   5px;
@xs:    8px;
@s:     12px;
@m:     20px;
@l:     32px;
@xl:    52px;
@xxl:   85px;
@xxxl:  137px;

.p-0 { padding: 0 !important;}
.pt-0 { padding-top: 0 !important;}
.pr-0 { padding-right: 0 !important;}
.pb-0 { padding-bottom: 0 !important; }
.pl-0 { padding-left: 0 !important; }

.pt-s { padding-top: @s !important; }
.pr-s { padding-right: @s !important; }
.pb-s { padding-bottom: @s !important; }
.pl-s { padding-left: @s !important; }

.pt-m { padding-top: @m !important; }
.pr-m { padding-right: @m !important; }
.pb-m { padding-bottom: @m !important; }
.pl-m { padding-left: @m !important; }

.pt-l { padding-top: @l !important; }
.pr-l { padding-right: @l !important; }
.pb-l { padding-bottom: @l !important; }
.pl-l { padding-left: @l !important; }

.pt-xl { padding-top: @xl !important; }
.pr-xl { padding-right: @xl !important; }
.pb-xl { padding-bottom: @xl !important; }
.pl-xl { padding-left: @xl !important; }

.pt-xxl { padding-top: @xxl !important; }
.pr-xxl { padding-right: @xxl !important; }
.pb-xxl { padding-bottom: @xxl !important; }
.pl-xxl { padding-left: @xxl !important; }

.p-s { padding: @s !important; }
.p-m { padding: @m !important; }
.p-l { padding: @l !important; }
.p-xl { padding: @xl !important; }
.p-xxl { padding: @xxl !important; }

.ptb-0 { padding-bottom: 0 !important;  padding-top: 0 !important; }
.ptb-s { padding-bottom: @s !important;  padding-top: @s !important; }
.ptb-m { padding-bottom: @m !important;  padding-top: @m !important; }
.ptb-l { padding-bottom: @l !important;  padding-top: @l !important; }
.ptb-xl { padding-bottom: @xl !important;  padding-top: @xl !important; }
.ptb-xxl { padding-bottom: @xxl !important;  padding-top: @xxl !important; }

.prl-0 { padding-left: 0 !important;  padding-right: 0 !important; }
.prl-s { padding-left: @s !important;  padding-right: @s !important; }
.prl-m { padding-left: @m !important;  padding-right: @m !important; }
.prl-l { padding-left: @l !important;  padding-right: @l !important; }
.prl-xl { padding-left: @xl !important;  padding-right: @xl !important; }
.prl-xxl { padding-left: @xxl !important;  padding-right: @xxl !important; }

.m-0 { margin: 0 !important; }
.mt-0 { margin-top: 0 !important; }
.mr-0 { margin-right: 0 !important; }
.mb-0 { margin-bottom: 0 !important; }
.ml-0 { margin-left: 0 !important; }

.mr-xs { margin-right: @xs !important; }
.mb-xs { margin-bottom: @xs !important; }
.ml-xs { margin-left: @xs !important; }
.mt-xs { margin-top: @xs !important; }

.mt-s { margin-top: @s !important; }
.mr-s { margin-right: @s !important; }
.mb-s { margin-bottom: @s !important; }
.ml-s { margin-left: @s !important; }

.mt-m { margin-top: @m !important; }
.mr-m { margin-right: @m !important; }
.mb-m { margin-bottom: @m !important; }
.ml-m { margin-left: @m !important; }

.mt-l { margin-top: @l !important; }
.mr-l { margin-right: @l !important; }
.mb-l { margin-bottom: @l !important; }
.ml-l { margin-left: @l !important; }

.mt-xl { margin-top: @xl !important; }
.mr-xl { margin-right: @xl !important; }
.mb-xl { margin-bottom: @xl !important; }
.ml-xl { margin-left: @xl !important; }

.mt-xxl { margin-top: @xxl !important; }
.mr-xxl { margin-right: @xxl !important; }
.mb-xxl { margin-bottom: @xxl !important; }
.ml-xxl { margin-left: @xxl !important; }

.m-s { margin: @s !important; }
.m-m { margin: @m !important; }
.m-l { margin: @l !important; }
.m-xl { margin: @xl !important; }
.m-xxl { margin: @xxl !important; }

