/* @author  :   Group S */
/* @date    :   2014-09 */
/* @version :   BETA 0.1 */
/* SUMMARY */
/* index.html */
/* file.html */
/* header */
/* loader */
/* modal box upload */
/* bootstrap-table */
/* table */
/* table */
/* pagination */
/* misc */
#logindiv {
  min-height: 700px;
}
.template {
  display: none;
}
body,
html {
  height: 100%;
}
header #banner-header ul a.login-lang {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #bce8f1;
  cursor: pointer;
}
header #info-header li.univers-name {
  color: #6a6a6a;
  font-size: 13px;
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;
}
/*#loader{
    display: none;
    position: fixed;
    z-index: 999;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    p{
        position: fixed;
        z-index: 1000;
        height: 2em;
        width: 2em;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}*/
#upload-modal {
  position: relative;
  min-height: 1px;
}
#upload-modal #btn-upload-div {
  /*        width: 100%;
        margin-bottom: 9px;*/
}
#upload-modal form#uploadForm {
  width: 100%;
}
#upload-modal form#uploadForm p:first-child {
  padding: 0 47%;
  margin-bottom: 20px;
}
#upload-modal #uploadFiles {
  width: 100%;
  margin-bottom: 32px;
  padding-bottom: 32px;
}
#upload-modal #uploadFiles .btn-group {
  margin-right: 20px !important;
}
#upload-modal #uploadFiles #files {
  margin: 32px 0 32px 0;
}
#upload-modal #uploadFiles #files #progress {
  display: none;
}
.bootstrap-table #filter .btn-group {
  position: relative;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 10px;
  line-height: 34px;
}
.bootstrap-table .fixed-table-toolbar .columns,
.bootstrap-table .fixed-table-toolbar .search {
  margin-top: 0;
}
.bootstrap-table .fixed-table-toolbar .search,
.bootstrap-table .fixed-table-toolbar #datepicker {
  position: relative;
  margin-bottom: 10px;
  margin-right: 10px;
  line-height: 34px;
}
.bootstrap-table .fixed-table-toolbar #datepicker {
  margin-top: 0;
  max-width: 280px;
}
.bootstrap-table .fixed-table-toolbar #datepicker input,
.bootstrap-table .fixed-table-toolbar #datepicker span {
  height: 34px;
  font-size: 14px;
}
.bootstrap-table .fixed-table-toolbar .downloadall {
  margin-bottom: 10px;
  margin-top: 0;
}
.bootstrap-table .fixed-table-toolbar ol.breadcrumb {
  margin: -5px 0px 3px;
  padding: 0;
  background-color: transparent;
}
.bootstrap-table .fixed-table-toolbar ol.breadcrumb li,
.bootstrap-table .fixed-table-toolbar ol.breadcrumb li a {
  font-size: 11px;
}
.bootstrap-table .fixed-table-container {
  border: 0;
}
.bootstrap-table .fixed-table-body {
  border: 1px solid #ddd;
}
.bootstrap-table .fixed-table-container tbody td {
  border-left: 1px solid #F0F0F0;
}
table th {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
table th div {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  -o-user-select: none;
  user-select: none;
}
table th.dl {
  width: 55px;
}
table th.formattedDate {
  width: 110px;
}
table th.del {
  width: 60px;
}
table th div i.fa {
  margin-left: 5px;
}
table tr td:first-child {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
table tr td:last-child {
  text-transform: lowercase;
}
table tr td {
  color: #6a6a6a;
}
table tr td a {
  color: #656565;
}
table tr td.true a {
  color: #428BCA;
}
table tr.new td {
  background-color: #d9edf7 !important;
}
.pagination-info,
.page-list {
  font-size: 14px !important;
}
#btn-pageResult {
  border: 0 !important;
  background-color: transparent;
  color: #428BCA;
  font-weight: bold;
}
.centered {
  width: 50%;
  margin: 0 auto;
}
.fa-download,
i,
a i {
  cursor: pointer;
}
