/* @author  :   Group S */
/* @date    :   2014-09 */
/* @version :   BETA 0.1 */

/* SUMMARY */
/* index.html */
/* file.html */
/* header */
/* loader */
/* modal box upload */
/* bootstrap-table */
/* table */
/* table */
/* pagination */
/* misc */

/////////////////////////////////
//          INDEX.HTML


#logindiv{
    min-height:700px;
}


/////////////////////////////////
//          FILE.HTML

.template{
  display: none;
}


/////////////////////////////
//  HEADER

header{
    #banner-header{
        ul {
            a.login-lang {
                font-family: sans-serif;
                font-style: normal;
                font-weight: bold;
                color: #bce8f1;
                cursor: pointer;
            }
        }
    }
    #info-header {
        li.univers-name {
            color: #6a6a6a;
            font-weight: bold;
            font-size: 13px;
            font-family: sans-serif;
            font-style: italic;
            font-weight: bold;
        }
    }
}


/////////////////////////////
// LOADER

#loader{
    display: none;
    position: fixed;
    z-index: 999;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    p{
        position: fixed;
        z-index: 1000;
        height: 2em;
        width: 2em;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}


/////////////////////////////
// MODAL BOX // UPLOAD

#upload-modal {

    position: relative;
    min-height: 1px;

    #btn-upload-div {
/*        width: 100%;
        margin-bottom: 9px;*/
    }

    form#uploadForm {
        width: 100%;
        p:first-child {
            padding: 0 47%;
            margin-bottom: 20px;
        }
    }
    #uploadFiles {
        width: 100%;
        margin-bottom: 32px;
        padding-bottom: 32px;

        .btn-group {
            margin-right: 20px !important;
        }

        #files {
            margin: 32px 0 32px 0;

            #progress {
                display: none;
            }
        }
    }
}


/////////////////////////////
// TABLE
.bootstrap-table {

    // Filter Bar
    #filter {
        .btn-group {
            position: relative;
            margin-top: 0;
            margin-bottom: 10px;
            margin-right: 10px;
            line-height: 34px;
        }
    }
    .fixed-table-toolbar{
        .columns,
        .search {
            margin-top: 0;
        }
        .search,
        #datepicker {
            position: relative;
            margin-bottom: 10px;
            margin-right: 10px;
            line-height: 34px;

        }
        #datepicker{
            margin-top: 0;
            max-width: 280px;
            input, span{
                height: 34px;
                font-size: 14px;
            }
        }
        // btn download n files
        #get-selections,
        .downloadall {
            // display: none;
        }
        .downloadall {
            margin-bottom: 10px;
            margin-top: 0;
        }

        // breadcrumb
        ol.breadcrumb{
            margin: -5px 0px 3px;
            padding: 0;
            background-color: transparent;
            li, li a {
                font-size: 11px;
            }
        }
    }

    .fixed-table-container {
        border: 0;
    }
    .fixed-table-body {
        border: 1px solid #ddd;
    }
    .fixed-table-container tbody td {
        border-left: 1px solid #F0F0F0;
    }
}

table {

    // table head
    // filters
    th {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    th div {
        -webkit-user-select: none; /* Chrome/Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
        -o-user-select: none;
        user-select: none;
    }
    th.dl {
        width: 55px;
    }
    th.formattedDate {
        width: 110px;
    }
    th.del {
        width: 60px;
    }
    th div i.fa {
        margin-left: 5px;
    }

    // table body
    tr td:first-child {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    tr td:last-child {
        text-transform: lowercase;
    }
    tr {
        td {
            color: #6a6a6a;
        }
        td a {
            color: #656565;
        }
        td.true a {
            color: #428BCA;
        }
    }
    tr.new td {
        background-color: #d9edf7 !important;
    }
}


////////////////////////////////
//  PAGINATION

.pagination-info,
.page-list {
    font-size: 14px !important;
}

// drop-down button result per page
#btn-pageResult {
    border: 0 !important;
    background-color: transparent;
    color: #428BCA;
    font-weight: bold;
}


////////////////////////////////
//  MISCELLANEOUS

.centered {
    width: 50%;
    margin: 0 auto;
}

.fa-download, i, a i {
    cursor: pointer;
}




