/*
/* @author  :   Group S */
/* @date    :   2014-09 */
/* @version :   BETA 0.1 */
/* SUMMARY */
/* index.html */
/* file.html */
/* header */
/* loader */
/* modal box upload */
/* bootstrap-table */
/* table */
/* table */
/* pagination */
/* misc */
/*
div#header
div#top-nav
ul.sidebar-left
*/
.bg-xlt-blue {
  background-color: #63a4dd;
}
.bg-lt-blue {
  background-color: #378fdd;
}
.bg-blue {
  background-color: #0065bd;
}
.bg-dk-blue {
  background-color: #00407a;
}
.bg-lt-green {
  background-color: #00fd9e;
}
.bg-green {
  background-color: #00c078;
}
.bg-dk-green {
  background-color: #009a60;
}
.bg-lt-indigo {
  background-color: #0a00fe;
}
.bg-indigo {
  background-color: #0700c5;
}
.bg-dk-indigo {
  background-color: #06009f;
}
.bg-viola {
  background-color: #8806b8;
}
.bg-dk-pink {
  background-color: #ae0179;
}
.green-light,
.isNew {
  color: #00fd9e;
}
/*
    #0064bb
    #0700c5
    #3003A1
    #8806B8
    #AE0179
    #0064bb
    */
.header-gradient,
.gs-head-gradient {
  background: -moz-linear-gradient(90deg, #0056a1 0%, #0065bd 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, 90deg, color-stop(0%, #0056a1), color-stop(100%, #0065bd));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(90deg, #0056a1 0%, #0065bd 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(90deg, #0056a1 0%, #0065bd 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(90deg, #0056a1 0%, #0065bd 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0056a1', endColorstr='#0065bd', GradientType='0');
  /* for IE */
  background: linear-gradient(0deg, #0056a1 0%, #0065bd 100%);
  /* W3C */
}
.center {
  text-align: center !important;
}
i.fa,
li {
  cursor: pointer;
}
.hide {
  display: none;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*********************************************
                    RESPONSIVE
**********************************************/
@media (max-width: 1154px) {
  div.btn-group:nth-child(4) {
    margin-top: 4.55px;
    margin-left: 0 !important;
    float: left;
  }
}
@media (max-width: 650px) {
  #datepicker {
    margin-top: 4.55px;
    margin-left: 0 !important;
    float: left;
  }
}
@media (max-width: 350px) {
  input[name^="search"] {
    margin-top: 4.55px;
    margin-left: 0 !important;
    float: left;
  }
}
/***************************************************
Main - Footer                  STICKY FOOTER RULES
****************************************************/
html,
body {
  height: 100%;
  margin: 0;
}
#main {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0 auto -80.9px;
  /*    bottom: 0;*/
}
#footer-grave {
  height: 60px;
}
#footer {
  height: 60px;
}
body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}
/***************************************************
HEADER
****************************************************/
header {
  height: 80.9px;
  line-height: 80.9px;
  background-color: #0064bb;
}
ul.lang {
  margin: 0;
  padding: 0 19px 0 0;
  color: white;
  letter-spacing: .1em;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
#header-logo {
  padding-left: 10px;
}
.lang a {
  color: #00306a;
  /* @gs-dk-blue */
}
.lang a:hover,
.lang a:focus,
.lang a:active {
  color: #479fed;
}
a.default-lang {
  color: #479fed;
}
/**********************************************
TOP NAV
***********************************************/
#top-nav ul,
td#top-nav ul:not(i) {
  margin: 0;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #a0a0a0;
}
#top-nav .univers-name {
  font-weight: 500;
}
#signout,
#toggle-side-menu {
  -webkit-transition: all 0.5s ease;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.5s ease;
  /* Firefox 4-15 */
  -o-transition: all 0.5s ease;
  /* Opera 10.5-12.00 */
  transition: all 0.5s ease;
  /* Firefox 16+, Opera 12.50+ */
}
#signout:hover,
#signout:focus,
#signout:active,
#signout.active,
#toggle-side-menu:hover,
#toggle-side-menu:focus,
#toggle-side-menu:active,
#toggle-side-menu.active {
  color: #505050;
}
/**********************************************
MODAL
**********************************************/
.modal-content {
  border-radius: 2px;
}
#uploadForm div.dir-list {
  text-align: left;
  float: none;
  margin: 0 auto;
  padding: 0 50%;
}
.progress {
  display: none;
}
.file-input-wrapper:before {
  font-family: "FontAwesome";
  content: "\f00e\00a0\00a0\00a0";
  font-size: 16px;
}
/**********************************************
BREADCRUMP
**********************************************/
#breadcrumb {
  display: table-cell;
  line-height: 31px;
}
#breadcrumb li {
  margin: 0;
}
#breadcrumb li:after {
  content: '\00a0/';
}
#breadcrumb li:last-child:after {
  content: '';
}
/* LOGIN */
input[type="text"],
input[type="password"] {
  font-weight: 300;
  font-size: 14px;
  height: 50px;
}
input[type="text"]:focus,
input[type="password"]:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06) inset, 0px 0px 8px rgba(102, 175, 233, 0.45);
}
/**********************************************
LOADER
***********************************************/
#loader {
  display: none;
  position: fixed;
  z-index: 999;
  /* overflow: show; */
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#loader p {
  position: fixed;
  z-index: 1000;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/*********************************************
CONTENT
*********************************************/
#contentTable {
  overflow: hidden;
}
/****************************************************
DATEPICKER
****************************************************/
#datepicker {
  display: table;
}
#datepicker input {
  display: table-cell;
  max-width: 130px;
  text-align: center;
}
.dp-to {
  box-shadow: 0;
  height: 50px;
  display: table-cell;
  margin: 0;
  padding: 14px 11px 14px 11px;
  cursor: none;
  font-size: 14px;
  background-color: #f2f2f2;
  color: #888;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.input-daterange input:first-child {
  border-radius: 0;
}
.input-daterange input:last-child {
  border-radius: 0;
}
/*********************************************
TABLE
*********************************************/
.ColVis {
  display: none;
}
.dataTables_scroll {
  border: 1px solid #ccc;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #ccc;
}
table.table,
#tableID {
  margin: 0 !important;
}
th {
  padding: 15px 0;
  border-right: 1px solid #f2f2f2;
}
/* <th> text default/active colors  */
.sorting,
.sorting_disabled {
  color: #9d9d9d;
}
.sorting_asc,
.sorting_desc {
  color: #333;
}
th:last-child {
  border-right: none;
}
table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #ccc;
}
td {
  max-width: 8%;
  /* add ... */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
td:last-child {
  border-right: none;
}
.table tbody tr.active:hover td,
.table tbody tr.active:focus td {
  /*background-color:       @gs-lt-blue !important;
    color: #FFF !important;*/
  background-color: #d6ecff !important;
  color: #606060;
  -webkit-transition: all 0.2s ease;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.2s ease;
  /* Firefox 4-15 */
  -o-transition: all 0.2s ease;
  /* Opera 10.5-12.00 */
  transition: all 0.2s ease;
  /* Firefox 16+, Opera 12.50+ */
}
.table tbody tr.active td {
  /*background-color:       @gs-xlt-blue !important;
    color: #FFF !important;*/
  background-color: #f0f8ff !important;
  color: #606060;
}
.table tbody tr.active td a,
.table tbody tr.active td i:not(1),
.table tbody tr.active td small {
  color: #656565;
}
/* define height */
table.dataTable thead th {
  padding: 17px 18px 16px;
}
/* Icon check */
th:first-child,
td:first-child {
  text-align: center;
  color: #989898;
  font-size: 12px;
}
tr.active td:first-child i.fa-check,
tr.active td:first-child i.fa-check-square-o {
  color: #00c078 !important;
}
/*********************************************
PAGINATION
**********************************************/
.page {
  margin: 19.1px 0;
}
.dataTables_wrapper .dataTables_paginate {
  float: none;
  padding-top: 0;
  text-align: center;
}
div.dataTables_paginate ul.pagination {
  margin: 0px;
}
.pagination {
  border-radius: 0 !important;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.pagination > li > a {
  padding: 9px 14px;
}
.pagination > li.active,
.pagination > li > a,
.pagination > li > span {
  color: #378fdd;
}
.bottom {
  display: table;
  text-align: center !important;
  width: 100%;
}
.dataTables_wrapper .dataTables_length {
  float: none;
}
div.dataTables_length label {
  float: none;
  text-align: center;
}
.dataTables_wrapper .dataTables_info {
  float: none;
}
/* note */
#warningQuota p {
  margin-top: 6px;
}
/********************************************
                INFO.JS
********************************************/
/* text */
.introjs-tooltip {
  padding: 19px;
  font-size: 14px;
}
.introjs-bullets ul {
  clear: both;
  margin: 15px auto;
  padding: 0px;
  display: inline-block;
}
.introjs-bullets ul li a {
  width: 7px;
  height: 7px;
}
.introjs-tooltipbuttons {
  margin: 0 auto 15px;
}
.introjs-button {
  margin: 0;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  border: none;
  text-decoration: none;
  text-shadow: none;
  font: 22px FontAwesome;
  background-color: transparent;
  background-image: none;
}
.introjs-button:hover,
.introjs-button:active,
.introjs-button:focus,
.introjs-button.active {
  border: 0;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
.introjs-tooltipbuttons {
  margin: 0;
  white-space: normal;
}
.introjs-prevbutton:before {
  content: "\f053";
  float: left;
}
.introjs-nextbutton:before {
  content: "\f054";
  float: right;
}
.introjs-prevbutton {
  float: left;
  padding-top: 0;
  padding-left: 0;
  margin: 0;
}
.introjs-nextbutton {
  float: right;
  padding-top: 0;
  padding-right: 0;
  margin: 0;
}
.introjs-helperNumberLayer {
  top: -18px;
  left: -18px;
  font-size: 14px;
  background: #080;
  border: 1px solid #FFF;
}
.introjs-skipbutton {
  padding: 0;
  margin: 0;
  font-size: 0px;
}
.introjs-helperLayer,
.introjs-helperLayer *,
.introjs-helperLayer:before,
.introjs-helperLayer:after,
.introjs-helperLayer *:after,
.introjs-helperLayer *:before,
.introjs-tooltipReferenceLayer,
.introjs-tooltipReferenceLayer *,
.introjs-tooltipReferenceLayer:before,
.introjs-tooltipReferenceLayer:after,
.introjs-tooltipReferenceLayer *:before,
.introjs-tooltipReferenceLayer *:after {
  box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
}
.introjs-helperNumberLayer {
  display: none;
}
#btn-upload-div,
#btn-upload-div span {
  text-align: left;
}
#btn-upload-div {
  padding: 17px 10px 16px 19px !important;
}
.dlfileLabel {
  cursor: pointer;
}
