#search,
#dir-name{
  padding-bottom: 20px;
}

//////////////////////////////////////////////////////
//  nav-pills

ul#dir-name li a{
  font-weight: bold;
  letter-spacing:.02em;
}

// border nav pills
ul#dir-name li.pw-tab-folder a,
.nav-pills > li > a {
  border-radius: 0px;
  padding: 9px 15px 8px 15px;
}
// icon fa-folder
ul#dir-name li.pw-tab-folder a:before{
  content: "\f114";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: bold;
  text-decoration: inherit;
}

// icon fa-folder-open
ul#dir-name li.pw-tab-folder.active a:before{
  content: "\f115";
}

//////////////////////////////////////////////////////
//  list ( sidenav )

ul, li{
  list-style: none;
}

//////////////////////////////////////////////////////
// table - itransfer

table[id^="table-"],
table#mainTable{

  // filtres de la table
  thead tr th{
    display: table-cell;
    text-align: center;
    vertical-align:middle;
  }

  // dernière colonne - extensions
  thead tr th:first-child{
    width: 52px;
  }
  thead tr th.th-date{
    width: 85px;
  }
  thead tr th.th-type,
  thead tr th.th-employee{
    width: 132px;
  }
  thead tr th:last-child{
    width: 52px;
  }
  tbody tr td:nth-child(3){
    text-align: center;
  }
  // td extension

  tbody tr td:last-child::before{
    content:'.';
  }
  tbody tr td:last-child{
    text-transform: lowercase;
  text-align: center;
    button.pw-btn-th{
      padding:5px !important;
    }
  }

  // overall
  tbody tr td{
    color:#6a6a6a;
  }

  // first column - icon download
  tbody tr td:first-child{
/*    text-align: center;*/
    padding-left: 2.5%;
    a{
      color:#808080;
      i.fa{
        font-style: 18px;
      }
    }
  }

  // no-download yet
  tbody tr td.true a{
      color:#428BCA;
  }

   tbody tr.true td{
      background-color: #DFF0D8 !important;
      border-color: #D6E9C6;
  }

}